<app-header></app-header>
&nbsp;
&nbsp;
&nbsp;
 
<div class="container">
    <div class="row">

        <div class="col-md-8">

            <label class="article-header">CBSE changes Class 12 board exam pattern for English</label>
            <div id="articleP txt_align_j" class="blog-cont">
                <p style="margin: 0px; padding: 0px; height: 0px;">&nbsp;</p>
                <div class="photo-widget" style="float: left; margin-right: 10px; width: 301px;">
                    <div class="figure"><img
                            src="https://images.shiksha.com/mediadata/images/articles/1538735562phpe1eLoO.jpeg"
                            style="margin: 0px !important;" width="100%"
                            alt="CBSE changes Class 12 board exam pattern for English"></div>
                </div>
                <p class="MsoNormal"><span></span>The Central Board of Secondary Education has made changes in the exam
                    pattern for English subject for Class 12 students. As per an official notification shared by CBSE in
                    this regard major changes have been introduced in the ‘Reading Section’ of the English Core subject
                    for the CBSE board exams that are scheduled to be conducted in February to March, 2019.</p>
                <p class="MsoNormal">Regarding the same <a href="https://www.shiksha.com/boards/cbse"
                        target="_blank">CBSE</a> has issued an official notification stating: “Consequently upon the
                    feedback received from the various stakeholders and subsequent deliberation in the meetings of
                    Committee of courses in the Board and the subject experts, the following changes have been made in
                    Section A- Reading of the Question Paper for English Core, Class XII for the session 2018- 2019”.
                </p>
                <p class="MsoNormal">The changes made in English Core for Class 12 Board Exams 2019 are as mentioned
                    below:</p>
                <table border="1" cellpadding="0" cellspacing="0" class="MsoTableGrid"
                    style="border-width: initial; border-style: none; border-color: initial;">
                    <tbody>
                        <tr>
                            <td colspan="3"
                                style="width: 467.5pt; border-width: 1pt; border-color: windowtext; padding: 0in 5.4pt;"
                                valign="top" width="623">
                                <p align="center" class="MsoNormal"
                                    style="margin-bottom: .0001pt; text-align: center; line-height: normal;">
                                    <strong>CBSE Class 12 Board Exam 2019: Changes in English Pattern</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 155.8pt; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-top: none; padding: 0in 5.4pt;"
                                valign="top" width="208">
                                <p align="center" class="MsoNormal"
                                    style="margin-bottom: .0001pt; text-align: center; line-height: normal;">
                                    <strong>Section A- Reading</strong></p>
                            </td>
                            <td style="width: 155.85pt; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0in 5.4pt;"
                                valign="top" width="208">
                                <p align="center" class="MsoNormal"
                                    style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong>Old
                                        Pattern</strong></p>
                            </td>
                            <td style="width: 155.85pt; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0in 5.4pt;"
                                valign="top" width="208">
                                <p align="center" class="MsoNormal"
                                    style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong>New
                                        Pattern for 2018-2019</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 155.8pt; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-top: none; padding: 0in 5.4pt;"
                                valign="top" width="208">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">The number of
                                    comprehension passages has been reduced. Now only two passages would be included
                                    here.</p>
                            </td>
                            <td style="width: 155.85pt; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0in 5.4pt;"
                                valign="top" width="208">
                                <ul>
                                    <li class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">Two
                                        passages of 1100- 1200 words were asked</li>
                                    <li class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">On
                                        passage of 400-500 words was there</li>
                                </ul>
                            </td>
                            <td style="width: 155.85pt; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0in 5.4pt;"
                                valign="top" width="208">
                                <ul>
                                    <li class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">Two
                                        passages of 800-900 words each will be asked</li>
                                </ul>
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 155.8pt; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-top: none; padding: 0in 5.4pt;"
                                valign="top" width="208">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">Typology of
                                    questions in passages</p>
                            </td>
                            <td style="width: 155.85pt; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0in 5.4pt;"
                                valign="top" width="208">
                                <ul>
                                    <li class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">6 MCQs of
                                        one mark each</li>
                                    <li class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">16 very
                                        short answer type questions including one question on vocabulary which is of one
                                        mark weightage</li>
                                    <li class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">One short
                                        answer type question of 3 marks</li>
                                    <li class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">One long
                                        answer type question of 5 marks</li>
                                </ul>
                            </td>
                            <td style="width: 155.85pt; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0in 5.4pt;"
                                valign="top" width="208">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;"><span
                                        style="text-decoration: underline;"><strong>Passage 1</strong></span>:</p>
                                <ul>
                                    <li class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">5 MCQs of
                                        one mark each</li>
                                    <li class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">9 very
                                        short answer type questions including three questions on vocabulary of one mark
                                        each</li>
                                    <li class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">3 short
                                        answer type questions of two marks each</li>
                                </ul>
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;"><span
                                        style="text-decoration: underline;"><strong>Passage 2</strong></span>:</p>
                                <ul>
                                    <li class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">2 long
                                        answer type questions of 5 marks each</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 155.8pt; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-top: none; padding: 0in 5.4pt;"
                                valign="top" width="208">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">Total number
                                    of questions in Section A</p>
                            </td>
                            <td style="width: 155.85pt; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0in 5.4pt;"
                                valign="top" width="208">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">24 questions
                                </p>
                            </td>
                            <td style="width: 155.85pt; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0in 5.4pt;"
                                valign="top" width="208">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">19 questions
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 155.8pt; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-top: none; padding: 0in 5.4pt;"
                                valign="top" width="208">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">Maximum
                                    weightage in Section A</p>
                            </td>
                            <td style="width: 155.85pt; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0in 5.4pt;"
                                valign="top" width="208">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">30 marks</p>
                            </td>
                            <td style="width: 155.85pt; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0in 5.4pt;"
                                valign="top" width="208">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">30 marks</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 155.8pt; border-right-width: 1pt; border-bottom-width: 1pt; border-left-width: 1pt; border-right-color: windowtext; border-bottom-color: windowtext; border-left-color: windowtext; border-top: none; padding: 0in 5.4pt;"
                                valign="top" width="208">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">Total number
                                    of questions in the question paper</p>
                            </td>
                            <td style="width: 155.85pt; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0in 5.4pt;"
                                valign="top" width="208">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">40</p>
                            </td>
                            <td style="width: 155.85pt; border-top: none; border-left: none; border-bottom-width: 1pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0in 5.4pt;"
                                valign="top" width="208">
                                <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;">35</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="embed">
                    <div class="article-cd-widget">
                        <div class="cd-heading">CBSE Board Exam</div>
                        <div class="cd-text cd-btnBx"><a class="ana-btns f-btn"
                                href="https://www.shiksha.com/boards/cbse/10th-result" target="_blank">Class X
                                Results</a>&nbsp;<a class="ana-btns f-btn"
                                href="https://www.shiksha.com/boards/cbse/12th-result" target="_blank">Class XII
                                Results</a></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div id="article-right-col">
                <div class="wdh100">
                    <div class="search-block txt-cntr">
                        <h3 class="signup-h3">Taking an Exam? Selecting a College?</h3>
                        <p class="inf-txts">Find insights &amp; recommendations on colleges and exams that you
                            <strong>won't</strong> find anywhere else</p> <a id="_article-login" class="nw-btn">Sign Up
                            &amp; Get Started</a>
                        <p class="background-brdr"><span>On Shiksha, get access to</span></p>
                        <ul class="inf-li">
                            <li> <strong>18k</strong> Colleges</li>
                            <li> <strong>452</strong> Exams</li>
                            <li> <strong>153k</strong> Reviews</li>
                            <li> <strong>700k</strong> Answers</li>
                        </ul>
                    </div>
                    <div class="clearFix"></div> <!-- Calendar Widget-->
                    <!-- Calendar Widget end-->
                    <div class="clearFix">&nbsp;</div>
                    <!--Start_Banner-->
                    <!-- <div align="center"> </div> -->
                    <!--End_Banner-->
                    <div id="rightPanelDFPBanner">
                        <div id="div-gpt-ad-1533107350261-0"
                            style="height:250px; width:300px;padding-top:15px;margin: 0 auto;"
                            data-google-query-id="CPGkpvWo_-QCFRTvjwodas4EUA">
                           
                        </div>
                    </div>
                    <div class="clearFix"></div>
                </div>
            </div>

        </div>

    </div>


</div>
<app-footer></app-footer>