<app-header></app-header>
<header class="header has-transparent has-sticky sticky-jump transparent">
<div class="mainContainer">
  <div class="headingBanner">
    <div class="container"><h1 class="h1">Wants Career In Abroad</h1></div>
  </div>
  <section class="sectionLayout grayBg companionSection">
    <div class="container">
      <div id="sticky-anchor"></div>
      <div class="row domainWrap">
        <div class="">
          <div class="leftCol" id="sticky">
            <div class="asideNav">
              <a href="#latestArticle"><i class="careers-articles"></i>Featured Articles</a>
              <a href="#latestNews"><i class="careers-news"></i>Latest News</a>
              <a href="#exam"><i class="careers-exam"></i>Exams</a>
              <a href="#samplePaper"><i class="careers-samplePaper"></i>Sample Papers</a>
              <a href="#qna"><i class="careers-qna"></i>QnA</a>
              <a href="#admissionOpen"><i class="careers-admissionsOpen"></i>Admissions Open</a>
              <a href="#collegePredictor"><i class="careers-college-predictors"></i>College Predictors</a>
              <a href="#otherPredictor"><i class="careers-otherProducts"></i>Other Products</a>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="rightCol">
            <div class="cardBlk" id="latestArticle">
              <h3 class="heading"><span>Featured Articles</span> <a>VIEW ALL</a></h3>
              <div class="article withTime">
                <div class="banner">
                  <img src="././assets/img/abroad.jpg"/>
                  <div class="caption">
                    <a>Study Abroad: The best way to get an educational loan</a>
                  </div>
                </div>
                <div class="articleBox withImg">
                  <div class="articleBoxInn">
                    <div class="thumb">
                      <a>
                        <img src="https://static.careers360.mobi/media/presets/45X45/article_images/2018/01/04/NID-DAT_prep_tips.jpg"/>
                      </a>
                    </div>
                    <a class="arTitle">
                      <div class="detail">NID DAT: Last Minute Tips Important...</div>
                    </a>
                    <div class="bottomStrip">
                      <span class="timeStrip">04 Jan 2018</span>
                      <span class="userStrip">By: <a>Nancy Johri</a></span>
                    </div>
                  </div>
                </div>
                <div class="articleBox withImg">
                  <div class="articleBoxInn">
                    <div class="thumb">
                      <a><img src="https://static.careers360.mobi/media/presets/45X45/article_images/2017/12/28/Design_Careers.jpg"/>
                      </a>
                    </div>
                    <a class="arTitle">
                      <div class="detail">Design Careers you should look out for</div>
                    </a>
                    <div class="bottomStrip">
                      <span class="timeStrip">28 Dec 2017</span>
                      <span class="userStrip">By: <a>Team Careers360</a></span>
                    </div>
                  </div>
                </div>
                <div class="articleBox withImg">
                  <div class="articleBoxInn">
                    <div class="thumb">
                      <a>
                        <img src="https://static.careers360.mobi/media/presets/45X45/article_images/2017/10/23/NIFT-Kannur_internship_experience.jpg"/>
                      </a>
                    </div>
                    <a class="arTitle">
                      <div class="detail">Design Internship Experience: How NIF...</div>
                    </a>
                    <div class="bottomStrip">
                      <span class="timeStrip">23 Oct 2017</span>
                      <span class="userStrip">By: <a>Nancy Johri</a></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cardBlk" id="latestArticle">
            <h3 class="heading"><span>Latest News</span> <a>VIEW ALL</a></h3>
            <div class="article withTime">
              <div class="banner">
                <img src="././assets/img/abroad-news.jpg" alt="" data-pagespeed-url-hash="3251571546"/>
                <div class="caption">
                  <a href="/articles/how-crack-nift-entrance">TOEFL introduces afternoon test sessions; reduces waiting period for retesting</a>
                </div>
              </div>
              <div class="articleBox withImg">
                <div class="articleBoxInn">
                  <div class="thumb">
                    <a>
                      <img src="https://static.careers360.mobi/media/presets/45X45/article_images/2018/01/04/NID-DAT_prep_tips.jpg"/>
                    </a>
                  </div>
                  <a class="arTitle">
                    <div class="detail">
                      NID DAT: Last Minute Tips Important...
                    </div>
                  </a>
                  <div class="bottomStrip">
                    <span class="timeStrip">04 Jan 2018</span>
                    <span class="userStrip">By: <a href="/user/367477">Nancy Johri</a></span>
                  </div>
                </div>
              </div>
              <div class="articleBox withImg">
                <div class="articleBoxInn">
                  <div class="thumb">
                    <a>
                      <img src="https://static.careers360.mobi/media/presets/45X45/article_images/2017/12/28/Design_Careers.jpg"/>
                    </a>
                  </div>
                  <a class="arTitle">
                    <div class="detail">Design Careers you should look out for</div>
                  </a>
                  <div class="bottomStrip">
                    <span class="timeStrip">28 Dec 2017</span>
                    <span class="userStrip">By: <a href="/user/">Team Careers360</a></span>
                  </div>
                </div>
              </div>
              <div class="articleBox withImg">
                <div class="articleBoxInn">
                  <div class="thumb">
                    <a>
                      <img src="https://static.careers360.mobi/media/presets/45X45/article_images/2017/10/23/NIFT-Kannur_internship_experience.jpg"/>
                    </a>
                  </div>
                  <a class="arTitle">
                    <div class="detail">Design Internship Experience: How NIF...</div>
                  </a>
                  <div class="bottomStrip">
                    <span class="timeStrip">23 Oct 2017</span>
                    <span class="userStrip">By: <a>Nancy Johri</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cardBlk" id="exam">
            <h3 class="heading"><span>Exams</span> <a>VIEW ALL</a></h3>
            <div class="examBock">
              <div class="block" *ngFor="let exam of Exams">
                <div class="thumb">
                  <img src='././assets/images/iit-jam-2020.jpg' style="height: auto">
                </div>
                <div class="detail">
                  <div class="contBlk">
                    <label class="title">{{exam.name}}</label>
                    <p>Application Process: <span>{{exam.applicationprocess}}</span></p>
                    <p>Exam Date: <span>{{exam.declarationofresult}}</span></p>
                    <p>Declaration of Result: <span>{{exam.date}}</span></p>
                  </div>
                  <div class="btnGroup">
                    <button class="button btn-lineGray popup" mat-raised-button >Get Updates
                    </button>
                    <button class="button btn-primary popup" mat-raised-button >Download
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cardBlk commonQna-Block">
            <a class="ask popup" action-location="domain_homepage" rel="askQuestion"
              data-url="/qna/question/add">Still have queries ask your question here...<span class="button btn-green btn-small">Ask Now</span>
            </a>
            <div class="popupbox modal" id="askQuestion"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="popupbox modal" id="editAnswer"></div>
<div class="popupbox modal" id="requestAnswer"></div>
<div class="popupbox modal" id="reportQuestionPopup">
  <div class="headerPopup">Report Question<i class="closebtn careers-cross"></i></div>
  <div class="contentSecPopup">
    <div class="requestAns">
      <p class="smallHeading">Select your reason of reporting</p>
      <form class="askQuestionForm reportquestionform" action="" method="POST">
        <div class="radiodivOuter">
          <input id="1" name="radio" type="radio" value="1">
          <label for="1">Inappropriate/Abusive</label>
          <p class="para">The Question containing Inaapropriate or Abusive Words</p>
        </div>
        <hr>
        <div class="radiodivOuter">
          <input id="2" name="radio" type="radio" value="2">
          <label for="2">Can be made better</label>
          <p class="para">Question lacks the basic details making it difficult to answer</p>
        </div>
        <hr>
        <div class="radiodivOuter">
          <input id="3" name="radio" type="radio" value="3">
          <label for="3">Incorrect Topic</label>
          <p class="para">Topic Tagged to the Question are not relevant to Question</p>
        </div>
        <hr>
        <div class="radiodivOuter">
          <input id="4" name="radio" type="radio" value="4">
          <label for="4">Spam</label>
          <p class="para">Question drives traffic to external sites for promotional or commercial purposes</p>
        </div>
        <hr>
        <div class="radiodivOuter">
          <input id="5" name="radio" type="radio" value="5">
          <label for="5">Irrelevant </label>
          <p class="para">The Question is not relevant to User</p>
        </div>
        <div class="formBtn"><button disabled>Submit</button></div>
      </form>
    </div>
  </div>
</div>
<script async src="https://static.careers360.mobi/CACHE/js/3ba9ae0ffa66.js"></script>
<app-footer></app-footer>