#main-wrapper {
    margin-top: 1px;
}
.wrapperFxd {
    background: #fff;
    width: 988px;
    float: left;
}
#headerAdSlot {
    display: table;
    width: 1020px;
    margin: 0 auto;
}
#headerAdSlot-1, #headerAdSlot-2 {
    display: table-cell;
    vertical-align: top;
}
#headerAdSlot-1>div, #headerAdSlot-2>div {
    display: block;
    background: #eee;
    margin: 0 auto 0;
}
#headerAdSlot-2 {
    display: table-cell;
    vertical-align: top;
}
#headerAdSlot-1>div, #headerAdSlot-2>div {
    display: block;
    background: #eee;
    margin: 0 auto 0;
}
.showMessages {
    background: #fffdd6;
    border: 1px solid #facb9d;
    padding: 7px 10px; 
}

.about-pstyl{
    font-size: 15px;
    margin-bottom: 12px;
    line-height: 26px;
}

.about-section-height{
    padding: 130px 0px 50px 0px;
}

.about-h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    color: #002147;
}