<app-header></app-header>
<div class="container heading">
<div class="headingBanner">
    <div class="headingOuter">
            <h1 class="singleHeading">List of Design Exams in India</h1>
    </div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-md-9">


<div class="cart">
    <div class="row">
        <div class="thumb">
            <img src="https://static.careers360.mobi/media/presets/45X45/exam_pics/NIFT.jpg" alt="NIFT-Entrance-Exam"
                data-pagespeed-url-hash="3691220184"
                onload="pagespeed.CriticalImages.checkImageForCriticality(this);" />
        </div>
        <div class="examDetail">
            <div class="titleDate">
                <h2><a href="https://design.careers360.com/exams/nift-entrance-exam">National Institute of Fashion
                        Technology Entrance Examination (NIFT Entrance Exam)</a></h2>
                <p><span>Application Process: </span> 22 Oct, 2019 - 28 Dec, 2019 (Tentative)</p>
                <p><span>Exam Date: </span> 20 Jan, 2020 (Tentative)</p>
                <p><span>Declaration of Result: </span> 06 Mar, 2020 (Tentative)</p>
            </div>
            <div class="buttonBox">
               
                <button class="button btn-lineGray popup"  mat-raised-button (click)="openDialog()">Get Updates </button>
                <button class="button btn-primary popup"  mat-raised-button (click)="openDialog()">Download </button>

            </div>
        </div>
    </div>
    <div class="useFullLink tags">
        <span>Useful Links</span>
        <div class="tagbox">
            <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#dates">Dates</a>
            <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#application">Application</a>
            <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#syllabus">Syllabus</a>
            <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#result">Result</a>
            <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#counselling">Counselling</a>
        </div>
    </div>
</div>
<div class="cart">
    <div class="row">
        <div class="thumb">
            <img src="https://static.careers360.mobi/media/presets/45X45/exam_pics/lpu-niit.jpg" alt="LPU-NEST"
                data-pagespeed-url-hash="2507865425"
                onload="pagespeed.CriticalImages.checkImageForCriticality(this);" />
        </div>
        <div class="examDetail">
            <div class="titleDate">
                <h2><a href="https://www.careers360.com/exams/lpu-nest">Lovely Professional University National
                        Eligibility and Scholarship Test (LPU NEST)</a></h2>
                <p><span>Application Process: </span> 01 Nov, 2019 - 20 Jan, 2020 (Tentative)</p>
                <p><span>Exam Date: </span> 10 Jan, 2020 - 25 Jan, 2020</p>
                <p><span>Declaration of Result: </span> 31 Jan, 2020</p>
            </div>
            <div class="buttonBox">
                <button class="button btn-lineGray popup"  mat-raised-button (click)="openDialog()">Get Updates </button>
                <button class="button btn-primary popup"  mat-raised-button (click)="openDialog()">Download </button>
              
            </div>
        </div>
    </div>
    <div class="useFullLink tags">
        <span>Useful Links</span>
        <div class="tagbox">
            <a class="tag" href="https://www.careers360.com/exams/lpu-nest#dates">Dates</a>
            <a class="tag" href="https://www.careers360.com/exams/lpu-nest#application">Application</a>
            <a class="tag" href="https://www.careers360.com/exams/lpu-nest#syllabus">Syllabus</a>
            <a class="tag" href="https://www.careers360.com/exams/lpu-nest#result">Result</a>
            <a class="tag" href="https://www.careers360.com/exams/lpu-nest#counselling">Counselling</a>
        </div>
    </div>
</div>
<div class="cart">
    <div class="row">
        <div class="thumb">
            <img src="https://static.careers360.mobi/media/presets/45X45/images/frontend/desktop/exam-logo-not-available.png"
                alt="ADYPU-CET" data-pagespeed-url-hash="4010777595"
                onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
        </div>
        <div class="examDetail">
            <div class="titleDate">
                <h2><a href="https://design.careers360.com/exams/adypu-cet">DYPDC Design Entrance Exam (ADYPU CET)</a>
                </h2>
                <p><span>Application Process: </span> 28 Nov, 2019 - 25 Jan, 2020 (Tentative)</p>
                <p><span>Exam Date: </span> 04 Feb, 2020 (Tentative)</p>
                <p><span>Declaration of Result: </span> 09 Apr, 2020 (Tentative)</p>
            </div>
            <div class="buttonBox">
                <button class="button btn-lineGray popup"  mat-raised-button (click)="openDialog()">Get Updates </button>
                <button class="button btn-primary popup"  mat-raised-button (click)="openDialog()">Download </button>
            </div>
        </div>
    </div>
    <div class="useFullLink tags">
        <span>Useful Links</span>
        <div class="tagbox">
            <a class="tag" href="https://design.careers360.com/exams/adypu-cet#dates">Dates</a>
            <a class="tag" href="https://design.careers360.com/exams/adypu-cet#application">Application</a>
            <a class="tag" href="https://design.careers360.com/exams/adypu-cet#counselling">Counselling</a>
        </div>
    </div>
</div>
<div class="cart">
    <div class="row">
        <div class="thumb">
            <img src="https://static.careers360.mobi/media/presets/45X45/exam_pics/UPSEE.jpg" alt="UPSEE"
                data-pagespeed-url-hash="2232638531"
                onload="pagespeed.CriticalImages.checkImageForCriticality(this);" />
        </div>
        <div class="examDetail">
            <div class="titleDate">
                <h2><a href="https://www.careers360.com/exams/upsee">Uttar Pradesh State Entrance Examination
                        (UPSEE)</a></h2>
                <p><span>Application Process: </span> 23 Jan, 2020 - 25 Mar, 2020 (Tentative)</p>
                <p><span>Exam Date: </span> 21 Apr, 2020 (Tentative)</p>
                <p><span>Declaration of Result: </span> 03 Jun, 2020 (Tentative)</p>
            </div>
            <div class="buttonBox">
                <button class="button btn-lineGray popup"  mat-raised-button (click)="openDialog()">Get Updates </button>
                <button class="button btn-primary popup"  mat-raised-button (click)="openDialog()">Download </button>
            </div>
        </div>
    </div>
    <div class="useFullLink tags">
        <span>Useful Links</span>
        <div class="tagbox">
            <a class="tag" href="https://www.careers360.com/exams/upsee#dates">Dates</a>
            <a class="tag" href="https://www.careers360.com/exams/upsee#application">Application</a>
            <a class="tag" href="https://www.careers360.com/exams/upsee#syllabus">Syllabus</a>
            <a class="tag" href="https://www.careers360.com/exams/upsee#result">Result</a>
            <a class="tag" href="https://www.careers360.com/exams/upsee#counselling">Counselling</a>
        </div>
    </div>
</div>
<div class="cart">
    <div class="row">
        <div class="thumb">
            <img src="https://static.careers360.mobi/media/presets/45X45/exam_pics/PESSAT.jpg" alt="PESSAT"
                data-pagespeed-url-hash="1755954175"
                onload="pagespeed.CriticalImages.checkImageForCriticality(this);" />
        </div>
        <div class="examDetail">
            <div class="titleDate">
                <h2><a href="https://www.careers360.com/exams/pessat">PES Scholastic Aptitude Test (PESSAT)</a></h2>
                <p><span>Application Process: </span> 03 Oct, 2019 - 07 Jul, 2020 (Tentative)</p>
                <p><span>Exam Date: </span> 15 Jan, 2020 - 01 Jul, 2020 (Tentative)</p>
                <p><span>Declaration of Result: </span> 19 Jan, 2020 - 03 Jul, 2020 (Tentative)</p>
            </div>
            <div class="buttonBox">
                <button class="button btn-lineGray popup"  mat-raised-button (click)="openDialog()">Get Updates </button>
                <button class="button btn-primary popup"  mat-raised-button (click)="openDialog()">Download </button>
            </div>
        </div>
    </div>
    <div class="useFullLink tags">
        <span>Useful Links</span>
        <div class="tagbox">
            <a class="tag" href="https://www.careers360.com/exams/pessat#dates">Dates</a>
            <a class="tag" href="https://www.careers360.com/exams/pessat#application">Application</a>
            <a class="tag" href="https://www.careers360.com/exams/pessat#syllabus">Syllabus</a>
            <a class="tag" href="https://www.careers360.com/exams/pessat#counselling">Counselling</a>
        </div>
    </div>
</div>
<div class="cart">
    <div class="row">
        <div class="thumb">
            <img src="https://static.careers360.mobi/media/presets/45X45/exam_pics/1270.jpg" alt="NPAT"
                data-pagespeed-url-hash="3837967353"
                onload="pagespeed.CriticalImages.checkImageForCriticality(this);" />
        </div>
        <div class="examDetail">
            <div class="titleDate">
                <h2><a href="https://www.careers360.com/exams/npat">National Test For Programs After Twelfth (NPAT)</a>
                </h2>
            </div>
            <div class="buttonBox">
                <button class="button btn-lineGray popup"  mat-raised-button (click)="openDialog()">Get Updates </button>
                <button class="button btn-primary popup"  mat-raised-button (click)="openDialog()">Download </button>
            </div>
        </div>
    </div>
    <div class="useFullLink tags">
        <span>Useful Links</span>
        <div class="tagbox">
            <a class="tag" href="https://www.careers360.com/exams/npat#dates">Dates</a>
            <a class="tag" href="https://www.careers360.com/exams/npat#application">Application</a>
            <a class="tag" href="https://www.careers360.com/exams/npat#syllabus">Syllabus</a>
            <a class="tag" href="https://www.careers360.com/exams/npat#result">Result</a>
            <a class="tag" href="https://www.careers360.com/exams/npat#counselling">Counselling</a>
        </div>
    </div>
</div>
<div class="cart">
    <div class="row">
        <div class="thumb">
            <img src="https://static.careers360.mobi/media/presets/45X45/exam_pics/1173.jpg" alt="SET"
                data-pagespeed-url-hash="1689862931"
                onload="pagespeed.CriticalImages.checkImageForCriticality(this);" />
        </div>
        <div class="examDetail">
            <div class="titleDate">
                <h2><a href="https://www.careers360.com/exams/set">Symbiosis Entrance Test (SET)</a></h2>
            </div>
            <div class="buttonBox">
                <button class="button btn-lineGray popup"  mat-raised-button (click)="openDialog()">Get Updates </button>
                <button class="button btn-primary popup"  mat-raised-button (click)="openDialog()">Download </button>
            </div>
        </div>
    </div>
    <div class="useFullLink tags">
        <span>Useful Links</span>
        <div class="tagbox">
            <a class="tag" href="https://www.careers360.com/exams/set#dates">Dates</a>
            <a class="tag" href="https://www.careers360.com/exams/set#application">Application</a>
            <a class="tag" href="https://www.careers360.com/exams/set#syllabus">Syllabus</a>
            <a class="tag" href="https://www.careers360.com/exams/set#result">Result</a>
            <a class="tag" href="https://www.careers360.com/exams/set#counselling">Counselling</a>
        </div>
    </div>
</div>

<div class="text-center">
    <ul class="pagination">
        <li class="disabled"><span>Prev</span></li>
        <li class="active"><span>1</span></li>
        <li><a href="?page=2">2</a></li>
        <li><a href="?page=3">3</a></li>
        <li><a href="?page=2">Next</a></li>
    </ul>
</div>

<div class="popupbox modal grayModal" id="getUpdate">
    <i class="closebtn careers-cross"></i>
    <div class="headerPopup"><img src="/static/images/frontend/desktop/vector-smart-object-copy.png" alt=""
            data-pagespeed-url-hash="2094787156" onload="pagespeed.CriticalImages.checkImageForCriticality(this);" />
        You have been successfully subscribed for Exam Updates</div>
    <div class="subHead">Students also subscribe for these exams</div>
    <div class="cardOuter">
        <div class="card">
            <div class="cardDetail">
                <div class="headingFirst"><a href="javascript:;">Joint Entrance Exam Main (JEE Main)</a></div>
                <div class="headingSecound">Conducting Body: <span>CBSE</span></div>
            </div>
            <button class="button btn-lineGray popup"  mat-raised-button (click)="openDialog()">Get Updates </button>
                <button class="button btn-primary popup"  mat-raised-button (click)="openDialog()">Download </button>
        </div>
      
       
    </div>
</div>
</div>
<div class="col-md-3">
        <div class="sidebarPart" id="sticky">
                <div class="sidebar sidebarBox">
                <div class="sortFilter">
                Sort & Filter
                <a class="clAll clearAll" href="/exams/">Clear All</a>
                </div>
                <form class="sortFilterForm" method="post">
                <div class="filterBox examSort">
                <h3>Sort By </h3>
                <div class="box"><input id="dates" name="sort_filter" type="radio" value="dates" checked><label for="dates">Dates</label></div>
                
                <div class="box"><input id="popularity" name="sort_filter" type="radio" value="pop"><label for="popularity">Popularity</label></div>
                
                </div>
                <div class="filterBox examLabel">
                <h3>Exam Level</h3>
                <div class="box"><label class="control controlCheckbox"><input name="level" type="checkbox" value="1">UG<div class="controlIndicator"></div></label></div>
                <div class="box"><label class="control controlCheckbox"><input name="level" type="checkbox" value="2">PG<div class="controlIndicator"></div></label></div>
                <div class="box"><label class="control controlCheckbox"><input name="level" type="checkbox" value="4">Diploma<div class="controlIndicator"></div></label></div>
                <div class="box"><label class="control controlCheckbox"><input name="level" type="checkbox" value="5">School<div class="controlIndicator"></div></label></div>
                </div>
                
                </form>
                </div>
                </div>
</div>
</div>
</div>
<app-footer></app-footer>