<app-header></app-header>
<br>
<div class="container">
    <div class="col-sm-9">
        <div class="row">
            <h1 class="article-header-h1">CBSE Board - Central Board of Secondary Education</h1>
            <!--<meta content="">-->
            <p class="post-details"> </p>
            <div class="blog-cont"> <span content="2019-09-06T04:11 PM"> Updated on: Sep 6, 2019, 04.11PM IST </span> by
                Shiksha
            </div>

            <div id="articleP txt_align_j" class="blog-cont">
                <p style="margin: 0px; padding: 0px; height: 0px;">&nbsp;</p>
                <div class="photo-widget">
                    <div class="figure"><em><span style="white-space: pre-wrap;">Know all about CBSE board syllabus,
                                pattern,
                                exam results and more at Shiksha.</span></em></div>
                    <div class="figure"><em><span style="white-space: pre-wrap;"> </span></em></div>
                    <div class="figure">
                        <div class="photo-widget-full">
                            <div class="figure"><img
                                    src="https://images.shiksha.com/mediadata/images/articles/1567765091phps2kEan.png"
                                    style="margin: 0px !important;" width="100%"
                                    alt="CBSE Board - Central Board of Secondary Education"></div>
                        </div><span style="white-space: pre-wrap;"><span></span><br></span>
                    </div>
                    <div class="figure"><span style="white-space: pre-wrap;">The Central Board of Secondary Education
                            (CBSE) is
                            the national education board of the country for public and private schools. Recognised
                            worldwide,
                            CBSE is an autonomous body which works under the supervision of the Ministry of Human
                            Resource
                            Development. The current chairman of the Board is Anita Karwal.</span></div>
                </div>
                <p>In 1952, the CBSE was given its present name ‘Central Board of Secondary Education’, and in the year
                    1962,
                    the Board was reconstituted. The Board provides affiliations to various schools and all of them have
                    to
                    follow the NCERT curriculum. The CBSE jurisdiction stretches all over India as well as beyond the
                    national
                    geographical boundaries of the country. The CBSE Board has seen rapid growth and expansion at the
                    level of
                    Secondary education resulting in improved quality and standard of education in institutions. From
                    309
                    schools under it back in 1962, the Board now has 21,271 schools in India, 228 schools in 25 foreign
                    countries. There are 1,138 Kendriya Vidyalayas, 3,011 Government/Aided Schools, 16,741 Independent
                    Schools,
                    595 Jawahar Novodaya Vidyalayas and 14 Central Tibetan Schools, as on May 1, 2019.</p>
                <p>CBSE’s main aim is to serve the educational institutions more effectively and wants to be responsive
                    to the
                    educational needs of those students whose parents were employed in the Central Government and had
                    frequently
                    transferable jobs.</p>
                <p>Through the regional offices that are set up by the CBSE, the body maintains educational standards
                    across the
                    country by monitoring the activities of these regional offices on a regular basis. These regional
                    offices in
                    various parts of the country take care of the day-to-day administration of the affiliated schools.
                    The Board
                    conducts centralized examinations for classes 10th and 12th every year in the months of February and
                    March.
                </p>
                <p>The CBSE Class 10 Board Exams are called All India Secondary School Examination (AISSE) and the Class
                    12
                    board exams are called – All India Senior School Certificate Examination (AISSCE). CBSE made the
                    Class X
                    board exams optional in 2010-2011, however, from 2018 onwards the exam has been made compulsory for
                    all
                    students.</p>
                <p><strong>As per reports, the CBSE board exams for the year 2020 will start as early as February 15,
                        while the
                        practical examinations will start in December 2019 itself.</strong></p>
                <h2><strong>Important Dates (Tentative):</strong></h2>
                <table border="0">
                    <tbody>
                        <tr>
                            <th><strong>Examinations (2020)</strong></th>
                            <th><strong>Tentative Dates</strong></th>
                        </tr>
                        <tr>
                            <td>Release of CBSE Class 10th and 12th Date Sheets</td>
                            <td>November 2019</td>
                        </tr>
                        <tr>
                            <td>CBSE Class 10th and 12th Practical examinations begin in</td>
                            <td>December 2019</td>
                        </tr>
                        <tr>
                            <td>CBSE Class 10th and 12th Main examinations begin on</td>
                            <td>February 15, 2020</td>
                        </tr>
                    </tbody>
                </table>
                <p></p>
                <p>Candidates can check out the Class 10th and 12th CBSE Date Sheets for 2019 for reference:<br><a
                        href="http://cbse.nic.in/newsite/circulars/2018/Class-X_datesheet.pdf" target="_blank">CBSE 2019
                        Date
                        Sheet Class 10th</a></p>
                <p><a href="http://cbse.nic.in/newsite/circulars/2018/Class-XII_dt_sheet.pdf" target="_blank">CBSE 2019
                        Date
                        Sheet Class 12th</a></p>
                <div class="embed">
                    <div class="article-cd-widget">
                        <div class="left-quote"><a
                                href="http://cbse.nic.in/newsite/circulars/2018/Class-XII_dt_sheet.pdf"
                                target="_blank">CBSE Board Exam</a></div>
                        <div class="cd-text cd-btnBx"><a class="right-quote"
                                href="https://www.shiksha.com/boards/cbse/10th-result" target="_blank">Class X
                                Results</a> <a class="left-quote" href="https://www.shiksha.com/boards/cbse/12th-result"
                                target="_blank">Class
                                XII Results</a></div>
                        <p></p>
                    </div>
                </div>
                <p>According to the official statistics, in 2019, as many as 3,25,638 students had registered for the
                    Class X
                    board examinations, while only 3,22,067 appeared, out of which only 2,60,789 successfully cleared
                    the
                    examinations, making it a pass percentage of 80.97.</p>
                <p>While for the class XII examinations, 12,18,393 students had registered, out of which 12,05,484
                    students
                    appeared for the examinations and 10,05,427 had cleared the board examinations. It saw a pass
                    percentage of
                    83.40.</p>
                <h2 class="flwMeBg"><strong>What's New in CBSE Board Exams 2020</strong></h2>
                <ul class="b1">
                    <li>
                        <h3><span>Main examinations to be conducted prior to vocational examinations</span></h3>
                    </li>
                </ul>
                <p>The central board has decided to conduct the main examinations before the vocational exams, opposite
                    to the
                    pattern which has been followed till now. The exam for the subject having the most number of
                    students will
                    be conducted first.</p>
                <ul class="b1">
                    <li>
                        <h3><span>Increase in the number of MCQs, reduction in descriptive questions</span></h3>
                    </li>
                </ul>
                <p>The number of multiple-choice questions in the board examinations in a majority of subjects will
                    increase
                    while the number of descriptive questions will be reduced.</p>
                <ul class="b1">
                    <li>
                        <h3><span> More internal choices</span></h3>
                    </li>
                </ul>
                <p>In order to make the assessment student-friendly, more internal choices will be provided in the
                    examination.
                </p>
                <ul class="b1">
                    <li>
                        <h3><span>Practicals to be conducted at external centres</span></h3>
                    </li>
                </ul>
                <p class="blog-cont">To encourage fair practice, the practical examination for both class
                    10<sup>th</sup> and
                    12th boards will be conducted at the external centres and not at the respective schools.</p>
                <p class="blog-cont"></p>
                <p>The Central Board of Secondary Education also conducts entrance exams. Some of the popular national
                    level
                    entrance tests conducted by CBSE are mentioned below:</p>
                <table border="1" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th>
                                <p align="center">Name of Exam</p>
                            </th>
                            <th>
                                <p align="center">Frequency</p>
                            </th>
                        </tr>
                        <tr>
                            <td valign="top" width="312">
                                <p><a  target="_blank">Joint
                                        Entrance Exam
                                        – Main (JEE Main)</a></p>
                            </td>
                            <td valign="top" width="312">
                                <p>Once a year</p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="312">
                                <p><a target="_blank">National Eligibility cum Entrance Test UG (NEET UG)</a></p>
                            </td>
                            <td valign="top" width="312">
                                <p>Once a year</p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="312">
                                <p><a
                                        target="_blank">Central
                                        Teacher Eligibility Test (CTET)</a></p>
                            </td>
                            <td valign="top" width="312">
                                <p>Twice a year</p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="312">
                                <p><a 
                                        target="_blank">UGC
                                        National Eligibility Test (NET)</a></p>
                            </td>
                            <td valign="top" width="312">
                                <p>Twice a year</p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="312">
                                <p>Jawahar Navodaya Vidyalaya Selection Test (JNVST)</p>
                            </td>
                            <td valign="top" width="312">
                                <p>Once a year</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>Jawahar Navodaya Vidyalaya Selection Test (JNVST) is designed, developed and conducted by the Central
                    Board
                    of Secondary Education annually to shortlist meritorious students for Class VI admission in each
                    Jawahar
                    Navodaya Vidyalaya (JNV). </p>
                <p class="blog-cont">Now that you have completed Class XII, it is time to take a decision regarding
                    course
                    selection for higher studies. To help you make an informed decision for a smooth career-building
                    process,
                    Shiksha has compiled a useful list of <a 
                        target="_blank"><strong>Courses after class XII</strong></a>. Click on the links below to check
                    your
                    options:</p>
                <div class="table-responsive">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td valign="top" width="208">
                                <p><a  target="_blank">Courses
                                        After
                                        12-Science</a></p>
                            </td>
                            <td valign="top" width="208">
                                <p><a target="_blank">Courses
                                        After
                                        12-Arts</a></p>
                            </td>
                            <td valign="top" width="208">
                                <p><a target="_blank">Courses
                                        After
                                        12-Commerce</a></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <h3><strong>Entrance Exams for College Admissions</strong></h3>
                <p>Most students start preparing for entrance exams at their Class X level itself to secure admission in
                    their
                    dream course/college. Shiksha has a comprehensive repository of entrance exams wherein students are
                    offered
                    information along the lines of exam eligibility, important dates, exam centres, pattern, syllabus,
                    admit
                    card, answer key, cut-off, admission process, question papers, counselling and results. CBSE board
                    exam
                    aspirants can go through the information on popular entrance exams by clicking on the link of the
                    stream of
                    their choice as mentioned below:</p>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td valign="top" width="311">
                                <p><a (click)=exam(); target="_blank">Top Engineering
                                        Entrance
                                        Exams</a></p>
                            </td>
                            <td valign="top" width="311">
                                <p><a 
                                        target="_blank">Top
                                        Humanities &amp; Social Sciences Entrance Exams</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="311">
                                <p><a (click)=exam(); target="_blank">Top Law Entrance
                                        Exams</a>
                                </p>
                            </td>
                            <td valign="top" width="311">
                                <p><a (click)=exam(); target="_blank">Top BBA Entrance
                                        Exams</a>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="311">
                                <p><a (click)=exam(); target="_blank">Top Design
                                        Entrance
                                        Exams</a></p>
                            </td>
                            <td valign="top" width="311">
                                <p><a (click)=exam(); target="_blank">Top
                                        Hospitality Entrance Exams</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="311">
                                <p><a  (click)=exam(); target="_blank">Top Science
                                        Entrance
                                        Exams</a></p>
                            </td>
                            <td valign="top" width="311">
                                <p><a (click)=exam(); target="_blank">Top IT &amp;
                                        Software Entrance Exams</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="311">
                                <p><a  (click)=exam();
                                        target="_blank">Top
                                        Mass Communication &amp; Media Exams</a></p>
                            </td>
                            <td valign="top" width="311">
                                <p><a  (click)=exam();
                                        target="_blank">Top
                                        Architecture &amp; Planning Entrance Exams</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="311">
                                <p><a  (click)=exam(); target="_blank">Top
                                        Accounting &amp; Commerce Entrance Exams</a></p>
                            </td>
                            <td valign="top" width="311">
                                <p><a (click)=exam(); target="_blank">Top
                                        Teaching
                                        &amp; Education Entrance Exams</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" valign="top" width="623">
                                <p><a (click)=exam();
                                        target="_blank">Top
                                        Medicine &amp; Health Sciences Entrance Exams</a></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p></p>
                <p><strong>Choose the right college after Class XII</strong></p>
                <p>Looking for details on a specific college or just exploring what options are available? College and
                    course
                    selection can be stressful given that there are thousands of colleges in India. But not anymore! Now
                    you can
                    find all the necessary details in one place. Click on the links below to see the list of colleges
                    offering
                    courses you may be interested in after Class XII. Use filters - Location, Course, Specialisation,
                    Mode of
                    Study, Accreditation, Total Fees - on the left-hand side of these pages to find the colleges you are
                    looking
                    for. You can read college reviews, compare colleges, read questions and answers about each course,
                    and check
                    eligibility criteria to decide on the college and course that works best for you.</p>
                <p>Click <a (click)=abroard();  target="_blank">Study Abroad</a> to find oversees
                    options
                    for UG and PG studies.</p>
                <table border="1" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td valign="top" width="312">
                                <p><a (click)=college();
                                        target="_blank">2500+
                                        Engineering Colleges in India</a></p>
                            </td>
                            <td valign="top" width="312">
                                <p><a (click)=college(); target="_blank">900+
                                        Design
                                        Colleges in India</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="312">
                                <p><a (click)=college();
                                        target="_blank">450+ Architecture &amp; Planning Colleges in India</a></p>
                            </td>
                            <td valign="top" width="312">
                                <p><a (click)=college(); target="_blank">550+
                                        Law
                                        Colleges in India</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="312">
                                <p><a (click)=college();
                                        target="_blank">3300+
                                        IT &amp; Software Colleges in India</a></p>
                            </td>
                            <td valign="top" width="312">
                                <p><a (click)=college();
                                        target="_blank">1100+ Mass Comm &amp; Media Colleges in India</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="312">
                                <p><a (click)=college();
                                        target="_blank">1500+
                                        Science Colleges in India</a></p>
                            </td>
                            <td valign="top" width="312">
                                <p><a (click)=college();
                                        target="_blank">1000+ Hospitality &amp; Travel Colleges in India</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="312">
                                <p><a (click)=college();
                                        target="_blank">350+
                                        Aviation Colleges in India</a></p>
                            </td>
                            <td valign="top" width="312">
                                <p><a (click)=college();
                                        target="_blank">800+
                                        Animation Colleges in India</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="312">
                                <p><a (click)=college();
                                        target="_blank">500+ Medicine &amp; Health Sciences Colleges in India</a></p>
                            </td>
                            <td valign="top" width="312">
                                <p><a (click)=college();
                                        target="_blank">600+ Teaching &amp; Education Colleges in India</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="312">
                                <p><a (click)=college();
                                        target="_blank">100+
                                        Nursing Colleges in India</a></p>
                            </td>
                            <td valign="top" width="312">
                                <p><a (click)=college();
                                        target="_blank">100+
                                        Beauty &amp; Fitness Colleges in India</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="312">
                                <p><a (click)=college();
                                        target="_blank">1400+ Accounting &amp; Commerce Colleges in India</a></p>
                            </td>
                            <td valign="top" width="312">
                                <p><a (click)=college();
                                        target="_blank">1500+ BBA
                                        Colleges in India</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="312">
                                <p><a (click)=college();
                                        target="_blank">800+ Banking, Finance, Insurance &amp; Colleges in India</a></p>
                            </td>
                            <td valign="top" width="312">
                                <p><a (click)=college();
                                        target="_blank">600+ Arts (Fine/Visual/Performing) Colleges in India</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" valign="top" width="623">
                                <p><a (click)=college();
                                        target="_blank">1400+ Humanities &amp; Social Sciences Colleges in India</a></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p><strong>Other related articles:</strong></p>
                <p><a (click)=redirect(); target="_blank">CBSE changes Class 12 board exam pattern for English</a></p>

            </div>


            <div class="lineSpace_20">&nbsp;</div>
            <div class="discussion-section">
                <div><a name="blogCommentSection" id="blogCommentSection">&nbsp;</a></div>
                <h2 class="discussion-title">Discussion Board</h2> <!-- comment box start here -->
                <div id="topicContainer">
                    <div class="spacer3 clearFix"></div>
                    <div>
                        <!-- Div Start to display newly added comments -->
                        <div id="addCommentDiv"></div><!-- Div End to display newly added comments --><input
                            type="hidden" id="pageKeyForReportAbuse"
                            value="ARTICLE_COMMENT_MIDDLEPANEL_REPORTABUSE" /><input type="hidden"
                            id="pageKeyForSubmitComment" value="ARTICLE_COMMENT_MIDDLEPANEL_SUBMITANSWER" /><input
                            type="hidden" id="showUpdateUserNameImage" value="1" /><input type="hidden"
                            id="questionDetailPage" value="1" />
                        <!-- Div Start to show the Add comment form -->
                        <div style="margin-top:25px; font-size:16px;"><strong>Write a Comment</strong></div>
                        <div class="fbkBx" style="width:622px;margin-bottom:10px;">
                            <div>
                                <div class="flLt wdh100">
                                    <!--Start_Inline_Comment-->
                                    <div id="inlineAnswerFormCntainer4493701"><input type="hidden"
                                            id="detailPageUrl4493701" value="" /><!-- Start of form -->
                                        <form action="https://www.shiksha.com/messageBoard/MsgBoard/replyMsg/4493701"
                                            onsubmit="try{ checkTextElementOnTransition(document.getElementById('replyText4493701'),'focus');if(validateFields(this) != true){return false;} else { disableReplyFormButton(4493701)} }catch (e) {};new Ajax.Request('https://www.shiksha.com/messageBoard/MsgBoard/replyMsg/4493701',{onSuccess:function(request){addMainCommentForQues(4493701,request.responseText,'-1',true,true,'','',false,'/public/images/photoNotAvailable.gif','0',true);}, evalScripts:true, parameters:Form.serialize(this)}); return false;"
                                            method="post">
                                            <div style='display:block;'> <textarea name="replyText4493701_hide"
                                                    class="ftBx" id="replyText4493701_hide"
                                                    onclick="try{ showEntityCommentForm('4493701'); }catch (e){}"
                                                    validateSingleChar='true'>Write a new comment...</textarea></div>
                                            <!--Start_For Show and Hide-->
                                            <div style="display:none;padding-left:10px;overflow:hidden;line-height:20px;"
                                                id="hiddenFormPart4493701">
                                                <div class="imgBx">
                                                    <div class="wdh100"> <img id="userProfileImageForComment4493701"
                                                            align='left' valign='top'
                                                            src="https://images.shiksha.ws/public/images/photoNotAvailable_t.gif" />
                                                    </div>
                                                </div>
                                                <div class="cntBx">
                                                    <div class="flLt wdh100">
                                                        <div class="wdh100 flLt">
                                                            <div><textarea name="replyText4493701"
                                                                    onkeyup="textKey(this)" class="ftxArea"
                                                                    id="replyText4493701" validate="validateStr"
                                                                    caption="Comment" maxlength="300" minlength="3"
                                                                    required="true" rows="3"
                                                                    validateSingleChar='true'></textarea></div>
                                                            <div class="Fnt10 fcdGya"><span
                                                                    id="replyText4493701_counter">0</span> out of 300
                                                                characters
                                                            </div>
                                                            <div class="errorPlace Fnt11" style="display:none;">
                                                                <div class="errorMsg" id="replyText4493701_error"></div>
                                                            </div>
                                                            <div class="lineSpace_1">&nbsp;</div>
                                                            <div class="flLt lineSpace_22 fcdGya">Make sure your answer
                                                                follows
                                                                <a href="javascript:void(0);"
                                                                    onclick='return popitup("https://www.shiksha.com/shikshaHelp/ShikshaHelp/communityGuideline");'>Community
                                                                    Guidelines</a></div>
                                                            <div class="float_R pr10 lineSpace_22"><input type="Submit"
                                                                    class="orange-button" value="Submit" onclick=""
                                                                    id="submitButton4493701" />&nbsp;&nbsp;<a
                                                                    href="javascript:void(0);"
                                                                    onClick="hideEntityCommentForm('4493701',true);">Cancel</a>
                                                            </div>
                                                            <div class="clear_B">&nbsp;</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="errorPlace" style="display:block">
                                                    <div class="errorMsg" id="seccode4493701_error"></div>
                                                </div><input type="hidden" name="threadid4493701" value="4493701"
                                                    id="threadid4493701" /><input type="hidden" name="secCodeIndex"
                                                    value="seccodeForInlineAnswer" id="secCodeIndex" /><input
                                                    type="hidden" name="fromOthers4493701" value="blog"
                                                    id="fromOthers4493701" /><input type="hidden"
                                                    name="actionPerformed4493701" value="addAnswer"
                                                    id="actionPerformed4493701" /><input type="hidden"
                                                    name="functionToCall" id="functionToCall"
                                                    value="incrementCommentCount()" /><input type="hidden"
                                                    name="userProfileImage4493701" id="userProfileImage"
                                                    value="/public/images/photoNotAvailable.gif" /><input type="hidden"
                                                    id="tracking_keyid4493701" name="tracking_keyid" value="207">
                                            </div>
                                        </form><!-- End of form -->
                                    </div>
                                    <!--End_Inline_Comment-->
                                </div>
                            </div>
                        </div><!-- Div End to show the Add comment form -->
                    </div>
                </div>

            </div>
            <!--Start_Recent_Articles-->
            <!--End_Recent_Articles-->
            <!--Start_Related_Articles-->
            <!--End_Related_Articles-->
            <!--BlogPanel-->
        </div>
    </div>
    <div class="col-sm-3">
        <div id="article-right-col">
            <div class="wdh100">
                <div class="search-block txt-cntr">
                    <h3 class="signup-h3">Taking an Exam? Selecting a College?</h3>
                    <p class="inf-txts">Find insights & recommendations on colleges and exams that you
                        <strong>won't</strong> find anywhere else</p> <a id="_article-login" class="nw-btn">Sign Up &
                        Get
                        Started</a>

                </div>
                <div class="clearFix"></div> <!-- Calendar Widget-->
                <!-- Calendar Widget end-->
                <div class="clearFix">&nbsp;</div>
                <!--Start_Banner-->
                <!-- <div align="center"> </div> -->
                <!--End_Banner-->
                <div id='customInterlinkingHTML'>

                    <div class="embed" style="overflow: hidden; text-align: center; width: 100%; margin-top: 10px;">
                        <!--HTML-->
                        <div class="css_tabs cs_tab">
                            <div class="main cs_tab">
                                <p class="cs_head">Popular Courses After 12th</p><input checked="checked" id="tab1"
                                    name="tabs" type="radio" /> <label class="cs_tab" for="tab1">Science</label> <input
                                    id="tab2" name="tabs" type="radio" /> <label class="cs_tab"
                                    for="tab2">Commerce</label>
                                <input id="tab3" name="tabs" type="radio" /> <label class="cs_tab"
                                    for="tab3">Arts</label>
                                <div class="content">
                                    <div id="content1">
                                        <ul class="btmBrdrLst">
                                            <li>
                                                <p class="bold_font"><a
                                                        href="././courses-after-12th/science#btech">Bachelor of
                                                        Technology
                                                        (BE/BTech)</a></p>
                                                <p class="js_scope">Exams: <a href="././b-tech/exams/jee-mains">JEE
                                                        Mains</a> <span> | </span> <a
                                                        href="././university/birla-institute-of-technology-and-science/exams/bitsat">BITSAT</a>
                                                    <span> | </span> <a href="././b-tech/exams/upsee">UPSEE</a></p>
                                            </li>
                                            <li>
                                                <p class="bold_font"><a
                                                        href="../../courses-after-12th/science#barch">Bachelor of
                                                        Architecture (BArch)</a></p>
                                                <p class="js_scope">Exams: <a
                                                        href="../../architecture-planning/exams/nata">NATA</a> <span> |
                                                    </span> <a href="../../architecture-planning/exams/aat">AAT</a>
                                                    <span> |
                                                    </span> <a
                                                        href="../../university/itm-university-gwalior/exams/itm-nest?course=1058">ITM
                                                        NEST</a></p>
                                            </li>
                                            <li>
                                                <p class="bold_font"><a
                                                        href="../../courses-after-12th/science#bsc">Bachelor
                                                        of Science (BSc)</a></p>
                                                <p class="js_scope">Exams: <a
                                                        href="../../university/gla-university/exams/glaet?course=942">GLAET</a>
                                                    <span> | </span> <a
                                                        href="../../science/exams/ouat-entrance-exam">OUAT
                                                        Entrance Exam</a> <span> | </span> <a
                                                        href="../../science/exams/gsat">GSAT</a></p>
                                            </li>
                                            <li>
                                                <p class="bold_font"><a
                                                        href="../../courses-after-12th/science#bca">Bachelor
                                                        of Computer Applications (BCA)</a></p>
                                                <p class="js_scope">Exams: <a
                                                        href="../../university/bharati-vidyapeeth-deemed-university/exams/bumat?course=490">BUMAT</a>
                                                    <span> | </span> <a
                                                        href="../../science/exams/gsat?course=827">GSAT</a>
                                                    <span> | </span> <a
                                                        href="../../college/symbiosis-international-university-s-set-symbiosis-entrance-test-undergraduate-degree-programmes/exams/set?course=1123">SET</a>
                                                </p>
                                            </li>
                                            <li>
                                                <p class="bold_font"><a
                                                        href="../../courses-after-12th/science#mbbs">Bachelor of
                                                        Medicine &
                                                        Bachelor of Surgery (MBBS)</a></p>
                                                <p class="js_scope">Exams: <a
                                                        href="../../medicine-health-sciences/medicine/exams/neet-ug">NEET
                                                        UG</a> <span> | </span> <a
                                                        href="../../college/all-india-institute-of-medical-sciences-aiims-delhi/exams/aiims-mbbs">AIIMS
                                                        MBBS</a> <span> | </span> <a
                                                        href="../../medicine-health-sciences/medicine/exams/jipmer-mbbs">JIPMER
                                                        MBBS</a></p>
                                            </li>
                                        </ul>
                                        <div class="link_cntr"><a href="../../courses-after-12th/science">All Courses
                                                After
                                                12th for Science</a></div>
                                    </div>
                                    <div id="content2">
                                        <ul class="btmBrdrLst">
                                            <li>
                                                <p class="bold_font"><a
                                                        href="../../courses-after-12th/commerce#ca">Chartered
                                                        Accountancy
                                                        (CA)</a></p>
                                                <p class="js_scope">Exams: <a
                                                        href="../../college/the-institute-of-chartered-accountants-of-india-delhi/exams/icai-exam">ICAI</a>
                                                </p>
                                            </li>
                                            <li>
                                                <p class="bold_font"><a
                                                        href="../../courses-after-12th/commerce#cs">Company
                                                        Secretary (CS)</a></p>
                                                <p class="js_scope">Exams: <a
                                                        href="../../college/institute-of-company-secretaries-of-india-icsi/exams/icsi-exam">ICSI</a>
                                                </p>
                                            </li>
                                            <li>
                                                <p class="bold_font"><a
                                                        href="../../courses-after-12th/commerce#bcom">BCom
                                                        in Accounting & Commerce</a></p>
                                                <p class="js_scope">Exams: <a
                                                        href="../../university/banaras-hindu-university/exams/bhu-uet?course=414">BHU
                                                        UET</a> <span> | </span> <a
                                                        href="../../university/gla-university/exams/glaet?course=936">GLAET</a>
                                                    <span> | </span> <a
                                                        href="../../university/gd-goenka-university/exams/goenkan-aptitude-test-for-admission-gata?course=598">GATA</a>
                                                </p>
                                            </li>
                                            <li>
                                                <p class="bold_font"><a
                                                        href="../../courses-after-12th/commerce#bba-llb">Bachelor of
                                                        Business Administration & Bachelor of Law</a></p>
                                                <p class="js_scope">Exams: <a href="../../law/exams/clat">CLAT</a>
                                                    <span> |
                                                    </span> <a href="../../law/exams/lsat">LSAT</a> <span> | </span> <a
                                                        href="../../university/alliance-university/exams/aclat">ACLAT</a>
                                                </p>
                                            </li>
                                            <li>
                                                <p class="bold_font"><a
                                                        href="../../courses-after-12th/commerce#bba-bms">BBA/BMS</a></p>
                                                <p class="js_scope">Exams: <a
                                                        href="../../university/bharati-vidyapeeth-deemed-university/exams/bumat">BUMAT</a>
                                                    <span> | </span> <a
                                                        href="../../college/gitam-institute-of-management-visakhapatnam/exams/gim-bba-entrance-exam">GIM
                                                        BBA</a> <span> | </span> <a
                                                        href="../../college/symbiosis-international-university-s-set-symbiosis-entrance-test-undergraduate-degree-programmes/exams/set">SET</a>
                                                </p>
                                            </li>
                                        </ul>
                                        <div class="link_cntr"><a href="../../courses-after-12th/commerce">All Courses
                                                After
                                                12th for Commerce</a></div>
                                    </div>
                                    <div id="content3">
                                        <ul class="btmBrdrLst">
                                            <li>
                                                <p class="bold_font"><a
                                                        href="../../courses-after-12th/arts#ba-humanities">BA in
                                                        Humanities
                                                        & Social Sciences</a></p>
                                                <p class="js_scope">Exams: <a
                                                        href="../../university/sharda-university/exams/suat?course=1016">SUAT</a>
                                                    <span> | </span> <a
                                                        href="../../university/jawaharlal-nehru-university/exams/jnuee">JNU
                                                        Entrance Exam</a> <span> | </span> <a
                                                        href="../../university/banaras-hindu-university/exams/bhu-uet?course=413">BHU
                                                        UET</a></p>
                                            </li>
                                            <li>
                                                <p class="bold_font"><a
                                                        href="../../courses-after-12th/arts#bfa">Bachelor of
                                                        Fine Arts (BFA)</a></p>
                                                <p class="js_scope">Exams: <a
                                                        href="../../university/banaras-hindu-university/exams/bhu-uet?course=417">BHU
                                                        UET</a> <span> | </span> <a
                                                        href="../../university/kurukshetra-university/exams/kuk-entrance-exam?course=780">KUK
                                                        Entrance Exam</a> <span> | </span> <a
                                                        href="../../university/jamia-millia-islamia/exams/jamia-millia-islamia-entrance-exam?course=1159">Jamia
                                                        Millia Islamia Exam</a></p>
                                            </li>
                                            <li>
                                                <p class="bold_font"><a
                                                        href="../../courses-after-12th/arts#bdes">Bachelor
                                                        of Design in Animation (BDes)</a></p>
                                                <p class="js_scope">Exams: <a
                                                        href="../../design/industrial-product-design/exams/uceed">UCEED</a>
                                                    <span> | </span> <a
                                                        href="../../design/exams/nift-entrance-exam">NIFT
                                                        Entrance Exam</a> <span> | </span> <a
                                                        href="../../design/communication-design/exams/nid-entrance-exam">NID
                                                        Entrance Exam</a></p>
                                            </li>
                                            <li>
                                                <p class="bold_font"><a href="../../courses-after-12th/arts#ba-llb">BA
                                                        LLB
                                                        (Bachelor of Arts + Bachelor of Laws)</a></p>
                                                <p class="js_scope">Exams: <a href="../../law/exams/clat">CLAT</a>
                                                    <span> |
                                                    </span> <a href="../../law/exams/ailet">AILET</a> <span> | </span>
                                                    <a href="../../law/exams/lsat">LSAT</a></p>
                                            </li>
                                            <li>
                                                <p class="bold_font"><a
                                                        href="../../courses-after-12th/arts#bjmc">Bachelor
                                                        of Journalism & Mass Communication (BJMC)</a></p>
                                                <p class="js_scope">Exams: <a
                                                        href="../../bba/exams/luacmat?course=776">LUACMAT</a> <span> |
                                                    </span> <a
                                                        href="../../university/srm-university-sonepat/exams/srmhcmat?course=680">SRMH
                                                        CMAT</a> <span> | </span> <a
                                                        href="../../university/gd-goenka-university/exams/goenkan-aptitude-test-for-admission-gata?course=615">GATA</a>
                                                </p>
                                            </li>
                                        </ul>
                                        <div class="link_cntr"><a href="../../courses-after-12th/arts">All Courses After
                                                12th for Arts</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p><span></span></p>
                </div>
                <div id="rightPanelDFPBanner">
                    <div id="div-gpt-ad-1533107350261-0"
                        style="height:250px; width:300px;padding-top:15px;margin: 0 auto;">

                    </div>
                </div>
                <div class="clearFix"></div>
            </div>
        </div>
    </div>


    <div class="compare-bot-sticky " id="_cmpSticky" style="display: none;">
        <div class="compare-sticky-items" id="cmpItemList">
            <div class="cmploader"><img></div>
            <div class="clgs-added" id="addItems">
                <div class="added-clgs">
                    <div class="num-to-add">1</div>
                </div>
                <div class="added-clgs">
                    <div class="num-to-add">2</div>
                </div>
                <div class="added-clgs">
                    <div class="num-to-add">3</div>
                </div>
                <div class="added-clgs">
                    <div class="num-to-add">4</div>
                </div>
            </div>
            <div class="added-clgs btn-col" id="compare-orng-btn">
                <div class="cmpre-col"> <a href="javascript:void(0);" class="cmpre-btn">Compare</a> <a
                        href="javascript:void(0);" class="link rmAll">Remove All</a> </div>
            </div>
        </div> <a href="javascript:void(0);" class="show-hide-btn _cmpTgleBtn" id="_cmpBt1" style="display:block;"
            data-status="false"><i class="common-sprite hide-arr"></i></a> <a href="javascript:void(0);"
            class="show-cmpre-btn _cmpTgleBtn" id="_cmpBt2" style="display:none;" data-status="true">Compare<i
                class="common-sprite show-arr"></i></a>
    </div><!-- open confirm layer befor go compare page -->
    <div id="cmpLyr" class="cmp-show-layer" style="display: none;">
        <div class="cmn-head">
            <div class="cmn-header">
                <p>College Comparison</p>
            </div>
            <div class="alert-div">
                <p id="err_lyr" style="position:relative;"></p>
                <div style="text-align:right;"> <a id="cancelBtn" class="pop cb">Cancel</a> <a id="okBtn"
                        class="pop">Ok</a>
                </div>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>