<app-header></app-header>
<div class="new-container contUs-wrapper">
    <div class="new-row">
        <div class="col-lg-12 s-div">
            <ul class="breadcrumb no-pad">
                <li><a href="#"><span><i class="icons ic_brdcrm homeType1"></i></span></a></li>
                <li><a class="current" href="javascript:void(0);">Contact Us</a></li>
            </ul>
        </div>
        <h1 class="head-L1 col-lg-12">Contact Us</h1>
        <div class="new-container contUs-wrapper">
            <!--ask & answer widget-->
            <div class="col-lg-12 tac new__col">
                <div class="stu-colDiv">
                    <p class="f22__clr3">Get our experts to answer your
                        questions within<strong>24 Hrs.</strong></p>
                    <div class="img__story">
                        <div class="answer"><p>Answers within 24 Hrs.</p></div>
                        <div class="reliable"><p>Reliable Answers</p></div>
                        <div class="experts"><p>1000+ Experts</p></div>
                    </div>
                    <div class="input__block">
                        <textarea placeholder="Type your Question..."
                            id="questionText_contact" name=questionText></textarea>
                        <a class="btn__prime" id="ask_button_contact">Ask
                            Question</a>
                        <p class="call__us">Or call us on: <span
                                class="num__txt">011 - 4046 - 9621</span> <span
                                class="timings"> Mon-Fri, 9:30AM - 6:30PM (IST)</span>
                        </p>
                    </div>

                </div>

            </div>
            <!--ends-->
        </div>

        <p class="para-L3 col-lg-12 mt20">Get your College / Institute /Business listed on Shiksha</p>
        <p class="para-L3 col-lg-12 time-para">Send email to us: <a href="mailto:sales@shiksha.com">sales@academic.com</a></p>
        <p class="para-L3 col-lg-12 time-para">Alternatively, contact a sales
            branch near you | Timing: Mon-Fri, 9:30 AM - 6:30 PM (IST)</p>
        <div class="col-md-12">
            <div class="new-row">
                <div class="col-md-12">
                    <div class="scard">
                        <h1 class="head-L2 cont-head">Kota</h1>
                        <p class="para-L2 add-clr">35, 1st Floor, Mahaveer Nagar ll, In Front of Oriental Bank Of Commerce, Opera Hospital Road Kota-324005</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="scard">
                        <h1 class="head-L2 cont-head">Bangalore</h1>
                        <p class="para-L2 add-clr">7, 2nd main, 3rd phase, jp nagar,bangalore, 560078 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="compare-bot-sticky"id="_cmpSticky" style="display: none;">
    <div class="compare-sticky-items" id="cmpItemList">
        <div class="clgs-added" id="addItems">
            <div class="added-clgs"><div class="num-to-add">1</div></div>
            <div class="added-clgs"><div class="num-to-add">2</div></div>
            <div class="added-clgs"><div class="num-to-add">3</div></div>
            <div class="added-clgs"><div class="num-to-add">4</div></div>
        </div>
        <div class="added-clgs btn-col" id="compare-orng-btn">
            <div class="cmpre-col">
                <a href="javascript:void(0);" class="cmpre-btn">Compare</a>
                <a href="javascript:void(0);" class="link rmAll">Remove All</a>
            </div>
        </div>
    </div>
    <a href="javascript:void(0);" class="show-hide-btn _cmpTgleBtn" id="_cmpBt1"
        style="display:block;" data-status="false">
        <i class="common-sprite hide-arr"></i></a>
    <a href="javascript:void(0);" class="show-cmpre-btn _cmpTgleBtn" id="_cmpBt2" style="display:none;" data-status="true">Compare<i class="common-sprite show-arr"></i></a>
</div>
<!-- open confirm layer befor go compare page -->
<div class="footer">
    <app-footer></app-footer>
</div>