<app-header></app-header>
<div class="container">
  <div class="box">
  <div class="row">

    <div class="col-sm-3 filters">
      <div id="sticky">
        <h4>Filter by</h4>
        <form id="filter" action="/application-forms/colleges">
          <h5>STREAM</h5>
          <div class="stream selectedContainer domainContSelector">
       
                <!-- <mat-select placeholder="Tooltip position" [formControl]="position"> -->
                  <!-- <mat-option *ngFor="let positionOption of positionOptions" [value]="positionOption">
                    {{positionOption}}
                  </mat-option> -->
               
              
          </div>
          <div class="stream selectedContainer courseContSelector">
            <a class="selected" data-id="UG" href="javascript:;">UG</a>
            <div class="dropDownBox mCustomScrollbar _mCS_2 mCS_no_scrollbar" style="display: none;">
              <div id="mCSB_2" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0"
                style="max-height: 60px;">
                <div id="mCSB_2_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
                  style="position:relative; top:0; left:0;" dir="ltr">
                  <input type="hidden" value="" id="course_id" name="courselevel">
                  <a href="javascript:;" data-id=" UG" onclick="adBuddyFrontEndScripts.submit_by_id(this)"
                    class="courseSelector">UG</a>
                  <div class="controlIndicator"></div>
                  <a href="javascript:;" data-id=" PG" onclick="adBuddyFrontEndScripts.submit_by_id(this)"
                    class="courseSelector">PG</a>
                  <div class="controlIndicator"></div>
                </div>
                <div id="mCSB_2_scrollbar_vertical"
                  class="mCSB_scrollTools mCSB_2_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: none;">
                  <div class="mCSB_draggerContainer">
                    <div id="mCSB_2_dragger_vertical" class="mCSB_dragger"
                      style="position: absolute; min-height: 30px; top: 0px;">
                      <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                    </div>
                    <div class="mCSB_draggerRail"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h5>STATE <span></span>
          </h5>
          <div class="state">
            <mat-checkbox class="example-margin">Andhra Pradesh</mat-checkbox>
            <mat-checkbox class="example-margin" >Andhra Pradesh</mat-checkbox>
            <mat-checkbox class="example-margin">Andhra Pradesh</mat-checkbox>
            <mat-checkbox class="example-margin">Andhra Pradesh</mat-checkbox>
            <mat-checkbox class="example-margin" >Andhra Pradesh</mat-checkbox>
            <mat-checkbox class="example-margin" >Andhra Pradesh</mat-checkbox>



          </div>
          <a class="moreState popup" >+29 More</a>
        </form>
      </div>
    </div>

    <div class="col-sm-9">
      <div data-ip="103.21.52.210" data-state="Madhya Pradesh" data-city="Indore" data-iso="MP"> </div>
      <div id="campainList">
        <div class="collageList">
          <div class="thumb"><img src="https://static.careers360.mobi/media/UPES_1_1.jpg"
              alt="UPES - Integrated LLB Programs" data-pagespeed-url-hash="2387767720"
              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></div>
          <div class="content">
            <h5 class="heading">UPES - Integrated LLB Programs</h5>
            <div class="showHideTxt heightFound">
              <ul>
                <li>15,000+ students<strong>&nbsp;|</strong> 44 acres twin campus<strong>&nbsp;|</strong> 500+ Faculty
                </li>
                <li><strong>1</strong><sup><strong>st</strong></sup> Indian University to be awarded <strong>QS &nbsp;5
                    Star Global Rating</strong></li>
                <li>Integrated BA/BSc/BCom/BBA/BTech LLB Programs offered @ UPES School of Law approved by Bar Council
                  of India</li>
                <li><strong>40+ Recruiters</strong> such as &nbsp;Mulla &amp; Mulla, Craigie Blunt &amp; Caroe, PwC,
                  Thomson Reuters, Trilegal etc.</li>
                <li>Apply with CLAT/LSAT India score or through ULSAT online &amp; offline exam</li>
              </ul>
            </div>
          </div>
          <div class="BtnBox">
            <a class="button btn-primary adbuddy-apply" href="javascript:void(0)"
              data-submit-url="/adbuddy-engine-application-forms/557/auto?i_utm_source=morepage&amp;i_utm_medium=admissionbuddy&amp;action_location=Listing_1"
              id="apply_now_557" data-form-id="557" data-camp-id="591">Apply</a>
          </div>
        </div>
        <div class="collageList">
          <div class="thumb"><img src="https://static.careers360.mobi/media/logo200_TVFNLKe.jpg"
              alt="Presidency University" data-pagespeed-url-hash="2320261303"
              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></div>
          <div class="content">
            <h5 class="heading">Presidency University</h5>
            <div class="showHideTxt heightFound">
              <ul>
                <li>Awarded “Best University of the Year 2018- South” by ASSOCHAM, India.</li>
                <li>500 + faculty across Presidency institutions</li>
                <li>Outlook India’s Best Universities Rankings-2018 - Presidency University, Bengaluru, Ranked 47 under
                  Top 50 Private Universities.</li>
                <li>Key Highlights:</li>
                <li>Moot Courts</li>
                <li>Legal aid clinics</li>
                <li>Professional Communication</li>
                <li>Researching and Reasoning Skills</li>
                <li>Advocacy Skills and Drafting Skills</li>
              </ul>
            </div>
          </div>
          <div class="BtnBox">
            <a class="button btn-primary adbuddy-apply" href="javascript:void(0)"
              data-submit-url="/adbuddy-engine-application-forms/398/auto?i_utm_source=morepage&amp;i_utm_medium=admissionbuddy&amp;action_location=Listing_2"
              id="apply_now_398" data-form-id="398" data-camp-id="415">Apply</a>
          </div>
        </div>
      </div>

      <div class="backToTop text-center" style="display:none;">
        <a href="javascript:;" class="button">Back to Top</a>
      </div>
    </div>

  </div>
  </div>




</div>
<app-footer></app-footer>