<app-header></app-header>
<br>
<br>
<br>
<div class="searchBtnOvrly"></div>


<div class="menu-overlay"></div>

<div id="main-wrapper">
    <noscript>
        <div class="jser"> <img style="vertical-align: middle;"
                src="https://w10.naukri.com/jobsearch/images/jsoff.gif" />Javascript is disabled in your browser due to
            this certain functionalities will not work.<a target="_blank" href="/public/enableJavascript.html">Click
                Here</a>, to know how to enable it.</div>
    </noscript>

</div>
    <div id="content-wrapper">
        <!-- floating online form widget -->
        <div id="incomplete-widget">
        </div>


        <div class="wrapperFxd" id="main-wrapper">
            <div id="headerAdSlot">
                <div id="headerAdSlot-1">
                    <div id="" style="height:px; width:px;">
                       
                    </div>
                </div>
            </div>
        </div>

    </div>

        <div class="career-wrapper">
            <div class="sheet-wrapper">
                <div class="sheet-top-effect">
                    <div class="sheet-bot-effect">

                        <div style="padding:10px 0px;">
                            <a href='https://www.shiksha.com'><span><i class='icons ic_brdcrm homeType1'></i></span></a>
                            &#155; <a href='https://www.shiksha.com/careers'>Careers</a> &#155; Opportunities</div>

                        <div class="career-contents">
                            <h2 class="stream-title">Your stream: <span>Science</span>&nbsp;&nbsp;<a
                                    style="font-size:16px;" href="https://www.shiksha.com/careers">Change</a></h2>


                            <h5 class="stream-sub-title">What's next?</h5>
                            <h1 class="choice-option">What are your career interests? <strong>Max 2</strong> choices:
                            </h1>

                            <div id="career-stream" class="career-stream-col">
                                <ul id="stream-details" class="stream-details">


                                    <li>
                                        <h2><label style="cursor:pointer"><input type="checkbox"
                                                    uniqueattr="CareerProduct/expressinterestmechanical" id="1"
                                                    onclick="checkOrUncheckExpressIntrest(this,'L3B1YmxpYy9pbWFnZXMvY2FyZWVycy9tZWNoLWF2YXRhci5qcGc=','TWVjaGFuaWNhbA==');" />
                                                Mechanical</label></h2>
                                        <div class="figure"><img src='././assets/images/mech-avatar.jpg'
                                                alt="Career in Mechanical activites." /></div>
                                        <div class="details"><strong>I prefer</strong> mechanical and manual tasks such
                                            as repairing, assembling or working with machines and equipments. I am
                                            curious about how things operate. Cleanliness, orderliness, sedentary tasks
                                            or administrative work do not interest me as much. <div class="choice-cloud"
                                                id="selectedChoiceTooltip1" style="display:none">
                                                <span>&nbsp;</span>
                                                <div class="choice-details" id="selectedChoiceTooltipValue1"></div>
                                            </div>
                                        </div>
                                    </li>


                                    <li>
                                        <h2><label style="cursor:pointer"><input type="checkbox"
                                                    uniqueattr="CareerProduct/expressinterestbusiness" id="2"
                                                    onclick="checkOrUncheckExpressIntrest(this,'L3B1YmxpYy9pbWFnZXMvY2FyZWVycy9idXNpbmVzcy1hdmF0YXIuanBn','QnVzaW5lc3M=');" />
                                                Business</label></h2>
                                        <div class="figure"><img src='././assets/images/business-avatar.jpg'
                                                alt="Career in Business activites." /></div>
                                        <div class="details"><strong>I prefer</strong> activities which are business
                                            related such as buying and selling, finance, administration, commercial
                                            transactions or communication. I have interest in working in a commercial
                                            environment. <div class="choice-cloud" id="selectedChoiceTooltip2"
                                                style="display:none">
                                                <span>&nbsp;</span>
                                                <div class="choice-details" id="selectedChoiceTooltipValue2"></div>
                                            </div>
                                        </div>
                                    </li>


                                    <li>
                                        <h2><label style="cursor:pointer"><input type="checkbox"
                                                    uniqueattr="CareerProduct/expressinterestscientific" id="3"
                                                    onclick="checkOrUncheckExpressIntrest(this,'L3B1YmxpYy9pbWFnZXMvY2FyZWVycy9zY2llbmNlLWF2YXRhci5qcGc=','U2NpZW50aWZpYw==');" />
                                                Scientific</label></h2>
                                        <div class="figure"><img src='././assets/images/science-avatar.jpg'
                                                alt="Career in Scientific activites." /></div>
                                        <div class="details"><strong>I prefer</strong> activities involving scientific
                                            investigation, logical understanding, thinking, working with scientific and
                                            mathematical concepts, details and precision. <div class="choice-cloud"
                                                id="selectedChoiceTooltip3" style="display:none">
                                                <span>&nbsp;</span>
                                                <div class="choice-details" id="selectedChoiceTooltipValue3"></div>
                                            </div>
                                        </div>
                                    </li>


                                    <li>
                                        <h2><label style="cursor:pointer"><input type="checkbox"
                                                    uniqueattr="CareerProduct/expressinterestaesthetic" id="4"
                                                    onclick="checkOrUncheckExpressIntrest(this,'L3B1YmxpYy9pbWFnZXMvY2FyZWVycy9hZXMtYXZhdGFyLmpwZw==','QWVzdGhldGlj');" />
                                                Aesthetic</label></h2>
                                        <div class="figure"><img src='././assets/images/aes-avatar.jpg'
                                                alt="Career in Aesthetic activites." /></div>
                                        <div class="details"><strong>I prefer</strong> activities which are aesthetic or
                                            creative in nature and involve self-expression or artistic appreciation.I
                                            have interest in visual,literary,musical or dramatic forms of art. <div
                                                class="choice-cloud" id="selectedChoiceTooltip4" style="display:none">
                                                <span>&nbsp;</span>
                                                <div class="choice-details" id="selectedChoiceTooltipValue4"></div>
                                            </div>
                                        </div>
                                    </li>


                                    <li>
                                        <h2><label style="cursor:pointer"><input type="checkbox"
                                                    uniqueattr="CareerProduct/expressinterestsocial" id="5"
                                                    onclick="checkOrUncheckExpressIntrest(this,'L3B1YmxpYy9pbWFnZXMvY2FyZWVycy9zb2NpYWwtYXZhdGFyLmpwZw==','U29jaWFs');" />
                                                Social</label></h2>
                                        <div class="figure"><img src='././assets/images/social-avatar.jpg'
                                                alt="Career in Social activites." /></div>
                                        <div class="details"><strong>I prefer</strong> activities which concern people.
                                            I have interest in recognizing the needs of mankind and contributing to
                                            their welfare. I like solving real problems, taking on responsibility,
                                            interacting with people, verbal communication, persuasion and control. <div
                                                class="choice-cloud" id="selectedChoiceTooltip5" style="display:none">
                                                <span>&nbsp;</span>
                                                <div class="choice-details" id="selectedChoiceTooltipValue5"></div>
                                            </div>
                                        </div>
                                    </li>


                                    <li>
                                        <h2><label style="cursor:pointer"><input type="checkbox"
                                                    uniqueattr="CareerProduct/expressinterestclerical" id="6"
                                                    onclick="checkOrUncheckExpressIntrest(this,'L3B1YmxpYy9pbWFnZXMvY2FyZWVycy9jbGVyaWNhbC1hdmF0YXIuanBn','Q2xlcmljYWw=');" />
                                                Clerical</label></h2>
                                        <div class="figure"><img src='././assets/images/clerical-avatar.jpg'
                                                alt="Career in Clerical activites." /></div>
                                        <div class="details"><strong>I prefer</strong> activities which require working
                                            in an office. I have interest in desk jobs such as number manipulation,
                                            computing, working with details and accuracy and on precision tasks. <div
                                                class="choice-cloud" id="selectedChoiceTooltip6" style="display:none">
                                                <span>&nbsp;</span>
                                                <div class="choice-details" id="selectedChoiceTooltipValue6"></div>
                                            </div>
                                        </div>
                                    </li>


                                    <li>
                                        <h2><label style="cursor:pointer"><input type="checkbox"
                                                    uniqueattr="CareerProduct/expressinterestoutdoor" id="7"
                                                    onclick="checkOrUncheckExpressIntrest(this,'L3B1YmxpYy9pbWFnZXMvY2FyZWVycy9vdXRkb29yLWF2YXRhci5qcGc=','T3V0ZG9vcg==');" />
                                                Outdoor</label></h2>
                                        <div class="figure"><img src='././assets/images/outdoor-avatar.jpg'
                                                alt="Career in Outdoor activites." /></div>
                                        <div class="details"><strong>I prefer</strong> all kinds of active outdoor work.
                                            I may enjoy any of these:- farming, forestry, sports, construction,
                                            travelling, transportation, and services which require me to spend
                                            significant time outdoors. I get satisfaction from being outdoors. <div
                                                class="choice-cloud" id="selectedChoiceTooltip7" style="display:none">
                                                <span>&nbsp;</span>
                                                <div class="choice-details" id="selectedChoiceTooltipValue7"></div>
                                            </div>
                                        </div>
                                    </li>



                                </ul>

                            </div>

                            <div class="career-selection-col">
                                <div class="career-selection-top" id="career-selection-widget">
                                    <div class="career-sel-bot">
                                        <div class="career-sel-content">
                                            <div class="contents">
                                                <h4>Your Selection</h4>
                                                <ul class="selection-items" id="">

                                                    <li style="height: auto">
                                                        <h6 id="choice1">1st Choice</h6>
                                                    </li>
                                                    <li class="drag" id="1box">
                                                        <div class="figure">
                                                            <img id="img1" style="display:none" />
                                                            <div class="close" title="close" id="close1"
                                                                style="display:none"
                                                                onclick="closeFirstChoiceBoxOnRightPanel();return false;">
                                                            </div>
                                                        </div>
                                                        <em id="ei1"></em>

                                                    </li>

                                                    <li style="height: auto">
                                                        <h6 id="choice2">2nd Choice <span>(Optional)</span></h6>
                                                    </li>

                                                    <li class="drag" id="2box">
                                                        <div class="figure">
                                                            <img id="img2" style="display:none" />
                                                            <div class="close" title="close" id="close2"
                                                                style="display:none"
                                                                onclick="closeSecondChoiceBoxOnRightPanel();return false;">
                                                            </div>
                                                        </div>
                                                        <em id="ei2"></em>
                                                    </li>

                                                    <li class="button-row">
                                                        <input id="button" type="button" value="Continue"
                                                            class="gray-button"
                                                            onclick="onSubmitExpressInterestPage(); return false;" />
                                                    </li>

                                                </ul>
                                                <div class="user-tips" id="swapToolTip" style="display:none">
                                                    You can swap the interests by dragging them up & down.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="career-offers">
                                <p class="source-by">Content on this page is by Career Expert</p>
                                <p class="source-name">Mrs. Kum Kum Tandon</p>
                                <p class="source-dtls">MA (Psychology), M.Ed, Diploma in Educational Psychology,
                                    Vocational Guidance & Counseling (NCERT, Delhi) | <a
                                        href='https://in.linkedin.com/in/kum-kum-tandon-8a357033'>View Complete
                                        Proﬁle</a></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Code Ends here-->
        <div class="compare-bot-sticky " id="_cmpSticky" style="display: none;">
            <div class="compare-sticky-items" id="cmpItemList">
                <div class="cmploader"><img></div>
                <div class="clgs-added" id="addItems">
                    <div class="added-clgs">
                        <div class="num-to-add">1</div>
                    </div>
                    <div class="added-clgs">
                        <div class="num-to-add">2</div>
                    </div>
                    <div class="added-clgs">
                        <div class="num-to-add">3</div>
                    </div>
                    <div class="added-clgs">
                        <div class="num-to-add">4</div>
                    </div>
                </div>

                <div class="added-clgs btn-col" id="compare-orng-btn">
                    <div class="cmpre-col">
                        <a href="javascript:void(0);" class="cmpre-btn">Compare</a>
                        <a href="javascript:void(0);" class="link rmAll">Remove All</a>
                    </div>
                </div>

            </div>
            <a href="javascript:void(0);" class="show-hide-btn _cmpTgleBtn" id="_cmpBt1" style="display:block;"
                data-status="false"><i class="common-sprite hide-arr"></i></a>
            <a href="javascript:void(0);" class="show-cmpre-btn _cmpTgleBtn" id="_cmpBt2" style="display:none;"
                data-status="true">Compare<i class="common-sprite show-arr"></i></a>
        </div>

        <!-- open confirm layer befor go compare page -->
        <div id="cmpLyr" class="cmp-show-layer" style="display: none;">
            <div class="cmn-head">
                <div class="cmn-header">
                    <p>College Comparison</p>
                </div>
                <div class="alert-div">
                    <p id="err_lyr" style="position:relative;"></p>
                    <div style="text-align:right;">
                        <a id="cancelBtn" class="pop cb">Cancel</a>
                        <a id="okBtn" class="pop">Ok</a>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>