<app-header></app-header>
<br>
<br>
<br>
<div class="container artical_box">
    <div class="row">
        <div class="col-md-8" *ngFor="let articledetail of ArticleDetails">
            {{articledetail.html}}
        </div>
        <div class="col-md-4">
            <div id="google_image_div">
                <a href="" id="aw0" target="_blank">
                    <img src="https://tpc.googlesyndication.com/simgad/15106060265673842923"
                        style="width:300px;height:250px;" width="300">
                </a>
            </div>
            <div class="cardBlk">
                <div class="cardBlkInn campus linkList trending-block">
                    <div class="headingContainer">
                        <h3 class="sidebarHeading">Trending Articles/News</h3>
                    </div>
                    <div class="colgListBlk">
                        <div class="display-table vtop">
                            <div class="display-cell leftBlk">
                                <a href="/articles/nift">
                                    <img src="https://static.careers360.mobi/media/presets/50X50/presets/860X430/article_images/2019/8/13/NIFT.jpg"
                                        alt="NIFT 2020" data-pagespeed-url-hash="2090858362">
                                </a>
                            </div>
                            <div class="display-cell rightBlk">
                                <a class="colgTitle" href="/articles/nift">NIFT 2020
                                </a>
                                <div class="updatedOn"><span class="gray">13 Aug 2019</span></div>
                            </div>
                        </div>
                        <div class="display-table vtop">
                            <div class="display-cell leftBlk">
                                <a href="/articles/top-10-fashion-schools-in-world"><img
                                        src="https://static.careers360.mobi/media/presets/50X50/article_images/2017/06/15/Top-10-Fashion-Schools-in-the-world.jpg"
                                        alt="Top 10 Fashion Schools in the world" data-pagespeed-url-hash="3199785025"
                                        ></a>
                            </div>
                            <div class="display-cell rightBlk">
                                <a class="colgTitle" href="/articles/top-10-fashion-schools-in-world">Top 10 Fashion
                                    Schools in the world
                                </a>
                                <div class="updatedOn"><span class="gray">01 Apr 2019</span></div>
                            </div>
                        </div>
                        <div class="display-table vtop">
                            <div class="display-cell leftBlk">
                                <a href="/articles/nid-dat-syllabus"><img
                                        src="https://static.careers360.mobi/media/presets/50X50/presets/860X430/article_images/2019/8/30/Syllabus.jpg"
                                        alt="NID DAT Syllabus 2020" data-pagespeed-url-hash="220823603"
                                        ></a>
                            </div>
                            <div class="display-cell rightBlk">
                                <a class="colgTitle" href="/articles/nid-dat-syllabus">NID DAT Syllabus 2020
                                </a>
                                <div class="updatedOn"><span class="gray">30 Aug 2019</span></div>
                            </div>
                        </div>

                        <div class="display-table vtop">
                            <div class="display-cell leftBlk">
                                <a href="/articles/nift-syllabus"><img
                                        src="https://static.careers360.mobi/media/presets/50X50/presets/860X430/article_images/2019/9/9/NIFT-Syllabus.jpg"
                                        alt="NIFT Syllabus 2020" data-pagespeed-url-hash="4094746104"
                                        ></a>
                            </div>
                            <div class="display-cell rightBlk">
                                <a class="colgTitle" href="/articles/nift-syllabus">NIFT Syllabus 2020
                                </a>
                                <div class="updatedOn"><span class="gray">09 Sep 2019</span></div>
                            </div>
                        </div>
                    </div>
                    <a href="/articles" class="viewAllBtn nxtpageLink">View All Articles</a>
                    <div >
                        <img alt=""
                        class="i-amphtml-fill-content i-amphtml-replaced-content" decoding="async"
                        src="https://tpc.googlesyndication.com/simgad/15106060265673842923">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>