<app-header></app-header>
<br>
<br>
<br>
<div class="mang-wrapper">
  <div class="container">
    <div class="n-row">
      <section class="mangmnt">
        <h2>Our Management Team</h2>
        <div class="mngmnt-dtls">
          <div class="mngmnt-dtls-col">
            <div class="mngmnt-image">
              <img src='././assets/images/VivekJain.jpg' width='124' height='124' />
            </div>
            <div class="mngmnt-prfl">

              <div class="lead-name">
                <h3 class="name">Vivek Jain</h3>
                <p class="positn">Chief Business Officer- Shiksha.com, Naukri Learning and Naukri FastForward</p>
                <p class="qualification">MBA - Finance & Marketing (IIM, Bangalore), Electrical Engineering - (IIT,
                  Delhi)</p>
              </div>

              <div class="brf-descrptn">
                <p class="about-lead">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out
                  print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century
                  who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type
                  specimen book.</p>
              </div>

            </div>
            <p class="clr"></p>
          </div>
        </div>

        <div class="mngmnt-dtls">
          <div class="mngmnt-dtls-col">
            <div class="mngmnt-image">
              <img src='././assets/images/ambrish.jpg' />
            </div>
            <div class="mngmnt-prfl">

              <div class="lead-name">
                <h3 class="name">Ambrish K Singh</h3>
                <p class="positn">Executive VP & Head – Sales & Customer Delivery</p>
                <p class="qualification">PGDM – Marketing (Amity Business School, Noida), BE – Mechanical (Chandrapur
                  Engineering College)</p>
              </div>

              <div class="brf-descrptn">
                <p class="about-lead">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out
                  print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century
                  who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type
                  specimen book. <a href="ww.naukri.com">Naukri.com</a> and <a href="www.99acres.com">99acres.com</a> in
                  past.</p>
              </div>

            </div>
            <p class="clr"></p>
          </div>
        </div>

        <div class="mngmnt-dtls">
          <div class="mngmnt-dtls-col">
            <div class="mngmnt-image">
              <img src='././assets/images/Nishant.jpg' width="122" />
            </div>
            <div class="mngmnt-prfl">

              <div class="lead-name">
                <h3 class="name">Nishant Pandey</h3>
                <p class="positn">Executive VP & Head – Product Management, Analytics & Operations</p>
                <p class="qualification">MBA – Major in Analytical Finance (ISB, Hyderabad), BTech – Chemical
                  Engineering (IIT Delhi)</p>
              </div>

              <div class="brf-descrptn">
                <p class="about-lead">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out
                  print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century
                  who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type
                  specimen book. </p>
                <p class="about-lead1">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out
                  print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century
                  who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type
                  specimen book. </p>

              </div>

            </div>
            <p class="clr"></p>
          </div>
        </div>


        <div class="mngmnt-dtls">
          <div class="mngmnt-dtls-col">
            <div class="mngmnt-image">
              <img src='././assets/images/abhinav.jpg' />
            </div>
            <div class="mngmnt-prfl">

              <div class="lead-name">
                <h3 class="name">Abhinav Katiyar</h3>
                <p class="positn">Sr. VP & Head – Engineering</p>
                <p class="qualification">BTech (Hons) – Computer Science & Engineering (UP Technical University)</p>
              </div>

              <div class="brf-descrptn">
                <p class="about-lead">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out
                  print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century
                  who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type
                  specimen book. </p>
              </div>

            </div>
            <p class="clr"></p>
          </div>
        </div>

      </section>
    </div>
  </div>

</div>
<app-footer></app-footer>