<app-header></app-header>
<div class="pwa_pagecontent">

    <div class="pwa_container marginChange" id="ctp_pwa">

        <div class="dfp-wraper">
            <div class="container">
                <h1>User Profile</h1>
                <label>First Name: </label><h4>{{profileData.firstname}}</h4>
                <label>Last Name: </label><h4>{{profileData.lastname}}</h4>
                <label>Email: </label><h4>{{profileData.email}}</h4>
                <label>Contact No: </label><h4>{{profileData.contact}}</h4>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>