<app-header></app-header>
<div class="mainContainer">
  <div class="headingBanner">
    <div class="container">
      <h1 class="h1">Law</h1>

    </div>
  </div>
  <section class="sectionLayout grayBg companionSection">
    <div class="container">
      <div id="sticky-anchor"></div>
      <div class="row domainWrap">
        <div class="">
          <div class="leftCol" id="sticky">

            <div class="asideNav">
              <a href="#latestArticle"><i class="careers-articles"></i>Featured Articles</a>
              <a href="#latestNews"><i class="careers-news"></i>Latest News</a>
              <a href="#exam"><i class="careers-exam"></i>Exams</a>
              <a href="#samplePaper"><i class="careers-samplePaper"></i>Sample Papers</a>
              <a href="#qna"><i class="careers-qna"></i>QnA</a>

              <a href="#admissionOpen"><i class="careers-admissionsOpen"></i>Admissions Open</a>

              <a href="#collegePredictor"><i class="careers-college-predictors"></i>College Predictors</a>
              <a href="#otherPredictor"><i class="careers-otherProducts"></i>Other Products</a>
            </div>
          </div>
        </div>

        <div class="col-sm-8">
          <div class="rightCol">
            <div class="cardBlk" id="latestArticle">
              <h3 class="heading"><span>Featured Articles</span> <a href="/articles" target="_blank">VIEW ALL</a></h3>
              <div class="article withTime">
                <div class="banner">
                  <img src="././assets/img/law.jpg" alt="" data-pagespeed-url-hash="3251571546"
                     />
                  <div class="caption">
                    <a href="/articles/how-crack-nift-entrance">CLAT 2020</a>
                  </div>
                </div>
                <div class="articleBox withImg">
                  <div class="articleBoxInn">
                    <div class="thumb">
                      <a href=""><img
                          src="https://static.careers360.mobi/media/presets/45X45/article_images/2018/01/04/NID-DAT_prep_tips.jpg"
                          alt="" data-pagespeed-url-hash="1994991954"
                           /></a></div>
                    <a href="" class="arTitle">
                      <div class="detail">
                        NID DAT: Last Minute Tips &amp; Important...
                      </div>
                    </a>
                    <div class="bottomStrip">
                      <span class="timeStrip">04 Jan 2018</span>
                      <span class="userStrip">By: <a href="/user/367477">Nancy Johri</a></span>
                    </div>
                  </div>
                </div>
                <div class="articleBox withImg">
                  <div class="articleBoxInn">
                    <div class="thumb">
                      <a href=""><img
                          src=""
                          alt="" data-pagespeed-url-hash="3631946205"
                           /></a></div>
                    <a href="" class="arTitle">
                      <div class="detail">
                        Design Careers you should look out for
                      </div>
                    </a>
                    <div class="bottomStrip">
                      <span class="timeStrip">28 Dec 2017</span>
                      <span class="userStrip">By: <a href="/user/">Team Careers360</a></span>
                    </div>
                  </div>
                </div>
                <div class="articleBox withImg">
                  <div class="articleBoxInn">
                    <div class="thumb">
                      <a
                        href="/articles/design-internship-experience-how-nift-kannur-student-rishabh-nayak-learned-apply-theory"><img
                          src="https://static.careers360.mobi/media/presets/45X45/article_images/2017/10/23/NIFT-Kannur_internship_experience.jpg"
                          alt="" data-pagespeed-url-hash="671938241"
                           /></a></div>
                    <a href="/articles/design-internship-experience-how-nift-kannur-student-rishabh-nayak-learned-apply-theory"
                      class="arTitle">
                      <div class="detail">
                        Design Internship Experience: How NIF...
                      </div>
                    </a>
                    <div class="bottomStrip">
                      <span class="timeStrip">23 Oct 2017</span>
                      <span class="userStrip">By: <a href="/user/367477">Nancy Johri</a></span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="cardBlk" id="latestArticle">
            <h3 class="heading"><span>Latest News</span> <a href="/articles" target="_blank">VIEW ALL</a></h3>
            <div class="article withTime">
              <div class="banner">
                <img src="././assets/img/news2.jpg" alt="" data-pagespeed-url-hash="3251571546"
                   />
                <div class="caption">
                  <a href="/articles/how-crack-nift-entrance">How to crack NIFT entrance?</a>
                </div>
              </div>
              <div class="articleBox withImg">
                <div class="articleBoxInn">
                  <div class="thumb">
                    <a href=""><img
                        src="https://static.careers360.mobi/media/presets/45X45/article_images/2018/01/04/NID-DAT_prep_tips.jpg"
                        alt="" data-pagespeed-url-hash="1994991954"
                         /></a></div>
                  <a href="" class="arTitle">
                    <div class="detail">
                      NID DAT: Last Minute Tips &amp; Important...
                    </div>
                  </a>
                  <div class="bottomStrip">
                    <span class="timeStrip">04 Jan 2018</span>
                    <span class="userStrip">By: <a href="/user/367477">Nancy Johri</a></span>
                  </div>
                </div>
              </div>
              <div class="articleBox withImg">
                <div class="articleBoxInn">
                  <div class="thumb">
                    <a href=""><img
                        src=""
                        alt="" data-pagespeed-url-hash="3631946205"
                         /></a></div>
                  <a href="" class="arTitle">
                    <div class="detail">
                      Design Careers you should look out for
                    </div>
                  </a>
                  <div class="bottomStrip">
                    <span class="timeStrip">28 Dec 2017</span>
                    <span class="userStrip">By: <a href="/user/">Team Careers360</a></span>
                  </div>
                </div>
              </div>
              <div class="articleBox withImg">
                <div class="articleBoxInn">
                  <div class="thumb">
                    <a
                      href="/articles/design-internship-experience-how-nift-kannur-student-rishabh-nayak-learned-apply-theory"><img
                        src="https://static.careers360.mobi/media/presets/45X45/article_images/2017/10/23/NIFT-Kannur_internship_experience.jpg"
                        alt="" data-pagespeed-url-hash="671938241"
                         /></a></div>
                  <a href="/articles/design-internship-experience-how-nift-kannur-student-rishabh-nayak-learned-apply-theory"
                    class="arTitle">
                    <div class="detail">
                      Design Internship Experience: How NIF...
                    </div>
                  </a>
                  <div class="bottomStrip">
                    <span class="timeStrip">23 Oct 2017</span>
                    <span class="userStrip">By: <a href="/user/367477">Nancy Johri</a></span>
                  </div>
                </div>
              </div>

            </div>
          </div>



          <div class="cardBlk" id="exam">
            <h3 class="heading"><span>Exams</span> <a href="./exam_in_india/" target="_blank">VIEW ALL</a></h3>
            <div class="examBock">
              <div class="block">
                <div>
                  <div class="thumb">
                    <img src='././assets/images/iit-jam-2020.jpg'>
                  </div>
                  <div class="detail">
                    <div class="contBlk">
                      <label class="title">Joint Admission Test for M.Sc Programmes (JAM)</label>
                      <p>Application Process: <span>04 Sep, 2019 - 08 Oct, 2019</span></p>
                      <p>Exam Date: <span>09 Feb, 2020</span></p>
                      <p>Declaration of Result: <span>20 Mar, 2020</span></p>
                    </div>
                    <div class="btnGroup">

                      <button class="button btn-lineGray popup" mat-raised-button (click)="openDialog()">Get Updates
                      </button>

                      <button class="button btn-primary popup" mat-raised-button (click)="openDialog()">Download
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="block">
                <div>
                  <div class="thumb">
                    <img src='././assets/images/image.jpg'
                      alt="English and Foreign Languages University Entrance Test (EFLU Entrance Test)">

                  </div>
                  <div class="detail">
                    <div class="contBlk">
                      <label class="title">English and Foreign Languages University
                        Entrance Test (EFLU Entrance Test)</label>
                      <p>Application Process: <span>07 Feb, 2020 - 26 Feb, 2020 (Tentative)</span></p>
                      <p>Exam Date: <span>09 Mar, 2020 - 31 Mar, 2020 (Tentative)</span></p>
                      <p>Declaration of Result: <span>03 May, 2020 (Tentative)</span></p>
                    </div>
                    <div class="btnGroup">
                      <button class="button btn-lineGray popup" mat-raised-button (click)="openDialog()">Get Updates
                      </button>

                      <button class="button btn-primary popup" mat-raised-button (click)="openDialog()">Download
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="block">
                <div>
                  <div class="thumb">
                    <img src='././assets/images/image.jpg'
                      alt="Tata Institute of Social Sciences Bachelor's Admission Test (TISS BAT)"
                      data-pagespeed-url-hash="4010777595">

                  </div>
                  <div class="detail">
                    <div class="contBlk">
                      <label class="title">Tata Institute of Social Sciences Bachelor's Admission
                        Test (TISS BAT)</label>
                      <p>Application Process: <span>28 Oct, 2019 - 29 Mar, 2020 (Tentative)</span></p>
                      <p>Exam Date: <span>27 Apr, 2020 (Tentative)</span></p>
                      <p>Declaration of Result: <span>12 Jun, 2020 (Tentative)</span></p>
                    </div>
                    <div class="btnGroup">
                      <button class="button btn-lineGray popup" mat-raised-button (click)="openDialog()">Get Updates
                      </button>

                      <button class="button btn-primary popup" mat-raised-button (click)="openDialog()">Download
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="block">
                <div>
                  <div class="thumb">
                    <img src='././assets/images/image.jpg' alt="National Entrance Screening Test (NEST)"
                      data-pagespeed-url-hash="3471999867">

                  </div>
                  <div class="detail">
                    <div class="contBlk">
                      <label class="title">National Entrance Screening Test (NEST)</label>
                      <p>Application Process: <span>07 Jan, 2020 - 18 Mar, 2020 (Tentative)</span></p>
                      <p>Exam Date: <span>01 Jun, 2020 (Tentative)</span></p>
                      <p>Declaration of Result: <span>18 Jun, 2020 (Tentative)</span></p>
                    </div>
                    <div class="btnGroup">
                      <button class="button btn-lineGray popup" mat-raised-button (click)="openDialog()">Get Updates
                      </button>

                      <button class="button btn-primary popup" mat-raised-button (click)="openDialog()">Download
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>




          <div class="cardBlk domainCarousels " id="samplePaper">
            <h3 class="heading"><span>Sample Papers</span>

              <a class="cursor_pointer" (click)=redirect_paper(); target="_blank">VIEW
                ALL</a></h3>

            <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="container">
              </div>
              <div class="carousel-inner">
                <div class="item active">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="col-item papers-box">
                        <div class="photo papers-new">
                          <img class="img-responsive paperimg" src='././assets/images/papers.jpg' alt="courses">
                          <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                        <div class="info">
                          <div class="row">
                            <div class="price col-md-6">
                              <h5 class="heading-styl">
                                JAM Physics Sample Paper 2017</h5>


                            </div>
                            <div class="rating hidden-sm col-md-6">
                              <p><i class="fa fa-download"></i> 6+ Downloads </p>
                            </div>
                          </div>

                          <div class="clearfix">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="col-item papers-box">
                        <div class="photo papers-new">
                          <img class="img-responsive paperimg" src='././assets/images/papers.jpg' alt="courses">
                          <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                        <div class="info">
                          <div class="row">
                            <div class="price col-md-6">
                              <h5 class="heading-styl">
                                JAM Physics Sample Paper 2017</h5>

                            </div>
                            <div class="rating col-md-6">
                              <p><i class="fa fa-download"></i> 6+ Downloads </p>
                            </div>
                          </div>

                          <div class="clearfix">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3 hidden">
                      <div class="col-item papers-box">
                        <div class="photo papers-new">
                          <img src='././assets/images/papers.jpg' class="img-responsive" alt="a" />
                        </div>
                        <div class="info">
                          <div class="row">
                            <div class="price col-md-6">
                              <h5 class="heading-styl">
                                JAM Physics Sample Paper 2017</h5>

                            </div>
                            <div class="rating hidden-sm col-md-6">
                              <p><i class="fa fa-download"></i> 6+ Downloads </p>
                            </div>
                          </div>

                          <div class="clearfix">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3 hidden">
                      <div class="col-item papers-box">
                        <div class="photo papers-new">
                          <img src='././assets/images/papers.jpg' class="img-responsive" alt="a" />
                        </div>
                        <div class="info">
                          <div class="row">
                            <div class="price col-md-6">
                              <h5 class="heading-styl">
                                JAM Physics Sample Paper 2017</h5>

                            </div>
                            <div class="rating col-md-6">
                              <p><i class="fa fa-download"></i> 6+ Downloads </p>
                            </div>
                          </div>

                          <div class="clearfix">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="col-item papers-box">
                        <div class="photo papers-new">
                          <img class="img-responsive paperimg" src='././assets/images/papers.jpg' alt="courses">
                          <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                        <div class="info">
                          <div class="row">
                            <div class="price col-md-6">
                              <h5 class="heading-styl">
                                JAM Physics Sample Paper 2017</h5>

                            </div>
                            <div class="rating col-md-6">
                              <p><i class="fa fa-download"></i> 6+ Downloads </p>
                            </div>
                          </div>

                          <div class="clearfix">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="col-item papers-box">
                        <div class="photo papers-new">
                          <img class="img-responsive paperimg" src='././assets/images/papers.jpg' alt="courses">
                          <a><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                        <div class="info">
                          <div class="row">
                            <div class="price col-md-6">
                              <h5 class="heading-styl">
                                JAM Physics Sample Paper 2017</h5>

                            </div>
                            <div class="rating col-md-6">
                              <p><i class="fa fa-download"></i> 6+ Downloads </p>
                            </div>
                          </div>

                          <div class="clearfix">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3 hidden">
                      <div class="col-item papers-box">
                        <div class="photo papers-new">
                          <img src='././assets/images/papers.jpg' class="img-responsive" alt="a" />
                        </div>
                        <div class="info">
                          <div class="row">
                            <div class="price col-md-6">
                              <h5 class="heading-styl">
                                Next Sample Product</h5>

                            </div>
                            <div class="rating hidden-sm col-md-6">
                              <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                              </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                              </i><i class="fa fa-star"></i>
                            </div>
                          </div>

                          <div class="clearfix">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3 hidden">
                      <div class="col-item papers-box">
                        <div class="photo papers-new">
                          <img src='././assets/images/papers.jpg' class="img-responsive" alt="a" />
                        </div>
                        <div class="info">
                          <div class="row">
                            <div class="price col-md-6">
                              <h5 class="heading-styl">
                                Sample Product</h5>

                            </div>
                            <div class="rating hidden-sm col-md-6">
                              <p><i class="fa fa-download"></i> 6+ Downloads </p>
                            </div>
                          </div>

                          <div class="clearfix">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



              </div>

              <div class="owl-nav nav-top">
                <div class="owl-prev">
                  <i class="careers-big-arrow-left"></i>
                </div>
                <div class="owl-next"><i class="careers-big-arrow-right"></i>
                </div>
              </div>
            </div>

          </div>




          <div _ngcontent-ysn-c1="" class="cardBlk college-rank" id="collegeRanking">
            <h3 _ngcontent-ysn-c1="" class="heading"><span _ngcontent-ysn-c1="">College Ranking</span><a
                _ngcontent-ysn-c1="" target="_blank">VIEW
                ALL</a></h3>
            <ul _ngcontent-ysn-c1="" class="rankingList">
              <li _ngcontent-ysn-c1=""><a _ngcontent-ysn-c1="" (click)=redirect_topclg(); target="_blank">Top
                  Engineering Colleges in
                  India</a></li>
              <li _ngcontent-ysn-c1=""><a _ngcontent-ysn-c1="" (click)=redirect_topclg(); target="_blank">Top
                  Engineering colleges
                  accepting SRMJEE score</a></li>
              <li _ngcontent-ysn-c1=""><a _ngcontent-ysn-c1="" (click)=redirect_topclg(); target="_blank">Top Private
                  Engineering
                  Colleges in India</a></li>
              <li _ngcontent-ysn-c1=""><a _ngcontent-ysn-c1="" (click)=redirect_topclg(); target="_blank">Top
                  Engineering Colleges
                  accepting GATE score</a></li>
              <li _ngcontent-ysn-c1=""><a _ngcontent-ysn-c1="" (click)=redirect_topclg(); target="_blank">Top
                  Government engineering
                  colleges in India </a></li>
              <li _ngcontent-ysn-c1=""><a _ngcontent-ysn-c1="" (click)=redirect_topclg(); target="_blank">Top
                  Engineering colleges
                  accepting JEE Main score </a></li>
              <li _ngcontent-ysn-c1=""><a _ngcontent-ysn-c1="" (click)=redirect_topclg(); target="_blank">Top
                  Engineering colleges
                  accepting JEE Advanced score </a></li>
              <li _ngcontent-ysn-c1=""><a _ngcontent-ysn-c1="" (click)=redirect_topclg(); target="_blank">Top
                  Engineering colleges in
                  Maharashtra </a></li>
              <li _ngcontent-ysn-c1=""><a _ngcontent-ysn-c1="" (click)=redirect_topclg(); target="_blank">Top
                  Engineering colleges in
                  Tamil Nadu </a></li>
              <li _ngcontent-ysn-c1=""><a _ngcontent-ysn-c1="" (click)=redirect_topclg(); target="_blank">Top
                  Engineering colleges in
                  Uttar Pradesh </a></li>
            </ul>
          </div>



          <div id="qna" class="cardBlk">
            <h3 class="heading"><span>QnA</span></h3>
            <div class="qnaBlks">
              <div class="question-data" id="question-data-section">
                <div class="showResult">Showing 54837 out of 54837 Questions</div>
                <div class="cardBlk noAnswer">
                  <div class="views viewAllRight"><span class="careers-eye"></span> 2 Views</div>
                  <a href="">
                    <h3 class="cardSubHeading">what is JNU BA Hons 2nd year entrance exam dates 2019-20?</h3>
                  </a>
                  <div class="row">
                    <div class="col-md-2">
                      <div class="authorWidget ans-img">
                        <div class="authorDetail">
                          <span>
                            <img class="authorImg" src='././assets/images/picture-8961799-1557485040.jpg' alt=""
                              data-pagespeed-url-hash="472414121">
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="detail">
                        <div class="disTable">
                          <div class="vMiddle">
                            <span class="authorName"><a href="/user/8981086">Roshni Reddy</a></span>
                            <span> Student Expert</span>
                            <span class="postTime">20th Sep, 2019</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="badge">
                      <img src="https://static.careers360.mobi/images/frontend/desktop/badge.svg" alt=""
                        data-pagespeed-url-hash="3811783931">
                      <img src="https://static.careers360.mobi/images/frontend/desktop/badge.svg" alt=""
                        data-pagespeed-url-hash="3811783931">
                      <img src="https://static.careers360.mobi/images/frontend/desktop/badge.svg" alt=""
                        data-pagespeed-url-hash="3811783931">
                      <img src="https://static.careers360.mobi/images/frontend/desktop/badge.svg" alt=""
                        data-pagespeed-url-hash="3811783931">
                      <img src="https://static.careers360.mobi/images/frontend/desktop/badge.svg" alt=""
                        data-pagespeed-url-hash="3811783931">
                    </div>
                  </div>
                  <div class="questionListData">
                    <p>
                      Hello Aspirant,
                    </p>
                    <p>
                      Jawaharlal Nehru University Entrance Exam (JNUEE) test will be directed from May 11 to May 14,
                      2020. JNUEE alongside JNU CEEB will be led by the National Testing Agency (NTA), this year. Till
                      2018, Jawaharlal Nehru University (JNU) directed both JNUEE and JNU CEEB tests.
                    </p>
                    <p>
                      NTA will direct JNUET 2020 as a PC based test (CBT). JNUEE is directed to offer admission to
                      applicants in undergrad and postgraduate projects offered by it.
                    </p>
                    <p>
                      While filling the application structure for JNU confirmations wannabes can select to show up in
                      the passageway test for a limit of three courses arranged by their inclination. Since the seats
                      accessible for affirmation in projects offered at JNU is restricted, competitors are shortlisted
                      for confirmation premise their exhibition in Jawaharlal Nehru University Entrance Exam (JNUEE)
                      just as viva-voce.
                    </p>
                  </div>

                  <div class="requestFollow">



                    <a class="request add-answer-listing" mat-raised-button (click)="openDialog1()">Answer </a>


                  </div>
                </div>
                <div class="cardBlk noAnswer">
                  <div class="views viewAllRight"><span class="careers-eye"></span> 3 Views</div>
                  <a href="">
                    <h3 class="cardSubHeading">I got M.tech seat in Acharya Nagarjuna University through APPGECET
                      should I have to pay any fees</h3>
                  </a>
                  <div class="authorWidget ans-img">
                    <div class="authorDetail">
                      <div class="row">
                        <div class="col-md-2">
                          <span>
                            <img class="authorImg" src='././assets/images/picture-8961799-1557485040.jpg'>
                          </span>
                        </div>

                        <div class="col-md-8">
                          <div class="detail">
                            <div class="disTable">
                              <div class="vMiddle">
                                <span class="authorName"><a href="/user/8961799">Sonali </a></span>
                                <span> Student Expert</span>
                                <span class="postTime">20th Sep, 2019</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="badge">
                            <img src="https://static.careers360.mobi/images/frontend/desktop/badge.svg" alt=""
                              data-pagespeed-url-hash="3811783931">
                            <img src="https://static.careers360.mobi/images/frontend/desktop/badge.svg" alt=""
                              data-pagespeed-url-hash="3811783931">
                            <img src="https://static.careers360.mobi/images/frontend/desktop/badge.svg" alt=""
                              data-pagespeed-url-hash="3811783931">
                            <img src="https://static.careers360.mobi/images/frontend/desktop/badge.svg" alt=""
                              data-pagespeed-url-hash="3811783931">
                            <img src="https://static.careers360.mobi/images/frontend/desktop/badge.svg" alt=""
                              data-pagespeed-url-hash="3811783931">
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="questionListData">
                    <p>
                      Hello,
                    </p>
                    <p>
                      Yes you have to pay fees during the admission time. If don't pay the minimum amount then they
                      won't allow you to join. These details will be shared to you when the joining procedure will
                      start. The college will send you mail or messages regarding it.
                    </p>
                    <p>
                      M.tech course is 2 years long duration and average fees incurred is INR 25000-2lakhs per annum.
                    </p>
                    <p>
                      For Acharya Nagarjuna University, Fee Structure for MTECH is :- (US $) 4000(Per year. For more
                      details you can visit the link:-
                      https://nagarjunauniversity.ac.in/isc2014/Annexure%20-%20II%20-%20fee%202015-16.pdf
                    </p>
                    <p>
                      When you will go for admission you can collect the fee structure from the account section where
                      you will get the other details also like how to pay,deadline and all.
                    </p>
                    <p>
                      For information you can read the file:-
                      https://www.nagarjunauniversity.ac.in/affilinoti16/affilinoti15/affiliationfee201415.pdf
                    </p>
                    <p>
                      Hope it helps!
                    </p>
                  </div>

                  <div class="requestFollow">


                    <div class="request add-answer-listing" action-location="question-listing-view"><a
                        href="javascript:;" class="edit_answer_permit popup" mat-raised-button (click)="openDialog1()"
                        data-url="/qna/question/605311/answer/0/load"><i class="careers-edit"></i> Answer </a></div>



                  </div>
                </div>
              </div>
            </div>
            <div class="text-right marginT20">
              <a (click)=redirect_question(); class="viewAllBtn nxtpageLink">View
                All Questions</a>
            </div>
          </div>
          <div class="cardBlk commonQna-Block">
            <a class="ask popup" action-location="domain_homepage" href="javascript:void(0)" rel="askQuestion"
              data-url="/qna/question/add" mat-raised-button (click)="openDialog2()">
              Still have queries ask your question here...
              <span class="button btn-green btn-small">Ask Now</span>
            </a>
            <div class="popupbox modal" id="askQuestion"></div>
          </div>





          <div class="cardBlk" id="admissionOpen">
            <h3 class="heading">
              <span>Applications Open Now</span>
              <a class="viewAllBtn nxtpageLink">View All Application Forms</a>
            </h3>
            <div ip="Esi--MP_Indore">
            </div>
            <div class="admissionOuter">
              <div class="block">
                <div class="content">

                  <img class="thumb"
                    src="https://static.careers360.mobi/media/1200px-Logo_of_Symbiosis_International_University.svg.png"
                    height="50px" width="50px" alt="SNAP 2019" data-pagespeed-url-hash="2037791635"
                    >
                  <h5> SNAP 2019 </h5>
                  <a class="button btn-primary" target='_blank' ; data-submit-url="http://bit.ly/2Z6cxED"
                    data-form-id="470" data-camp-id="495">Apply</a>
                </div>
              </div>
            </div>
          </div>



          <div class="cardBlk" id="collegePredictor">
            <h3 class="heading"><span>College Predictors</span>

            </h3>
            <div class="article predictorBlk">
              <div class="banner orangeGradient">
                <div class="detailBanner">
                  <h3>Predict your College Admission <br>chances in your preferred Colleges</h3>
                  <h5>Download your personalized report with<br> your Admission chances based on <br>cutoffs, caste,
                    gender, home state<br> and other quotas</h5>
                </div>
                <img src="https://static.careers360.mobi/images/home/cPredictorBanner.svg" alt="" class="banrAbsolute"
                  width="222" height="138" data-pagespeed-url-hash="2845491649"
                  >
              </div>
              <div class="articleBox">
                <a href="" target="_blank">
                  <div class="detail">NIFT College Predictor</div>
                </a>
              </div>
            </div>
          </div>
          <div class="cardBlk" id="otherPredictor">

          </div>
        </div>
      </div>

    </div>
  </section>
</div>

<app-footer></app-footer>