<div class="container heading">
    <div class="headingBanner">
        <div class="headingOuter">
                <h1 class="singleHeading">List of Design Exams in India</h1>
        </div>
    </div>
    </div>
    
    <div class="container">
    <div class="row">
    <div class="col-md-9">
    
    
    <div class="cart">
        <div class="row">
            <div class="col-md-3">
            <div class="thumb">
                <img src='./././assets/images/How-to-prepare-for-NIFT-2019-entrance-exam.jpg' alt="NIFT-Entrance-Exam"/>
            </div>
         </div>
         <div class="col-md-9">
            <div class="examDetail">
                <div class="titleDate">
                    <h2><a href="https://design.careers360.com/exams/nift-entrance-exam">How to Prepare for NIFT Entrance Exam</a></h2>
                  <p>How to prepare for NIFT entrance exam to help candidates. Tips and tricks to boost preparation without coaching is available in the e-book. Additionally, it also provides information on best books for NIFT preparation.</p>
                </div>
                <div class="buttonBox">
                   
                    <button class="button btn-primary popup">Download </button>
    
                </div>
            </div>
            </div>
        </div>
        <div class="useFullLink tags">
            <span>Useful Links</span>
            <div class="tagbox">
                <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#dates">Dates</a>
                <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#application">Application</a>
                <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#syllabus">Syllabus</a>
                <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#result">Result</a>
                <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#counselling">Counselling</a>
            </div>
        </div>
    </div>
    <div class="cart">
        <div class="row">
            <div class="col-md-3">
            <div class="thumb">
                <img src='./././assets/images/How-to-prepare-for-NIFT-2019-entrance-exam.jpg' alt="NIFT-Entrance-Exam"/>
            </div>
         </div>
         <div class="col-md-9">
            <div class="examDetail">
                <div class="titleDate">
                    <h2><a href="https://design.careers360.com/exams/nift-entrance-exam">How to Prepare for NIFT Entrance Exam</a></h2>
                  <p>How to prepare for NIFT entrance exam to help candidates. Tips and tricks to boost preparation without coaching is available in the e-book. Additionally, it also provides information on best books for NIFT preparation.</p>
                </div>
                <div class="buttonBox">
                   
                    <button class="button btn-primary popup" >Download </button>
    
                </div>
            </div>
            </div>
        </div>
        <div class="useFullLink tags">
            <span>Useful Links</span>
            <div class="tagbox">
                <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#dates">Dates</a>
                <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#application">Application</a>
                <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#syllabus">Syllabus</a>
                <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#result">Result</a>
                <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#counselling">Counselling</a>
            </div>
        </div>
    </div>
    <div class="cart">
            <div class="row">
                <div class="col-md-3">
                <div class="thumb">
                    <img src='./././assets/images/How-to-prepare-for-NIFT-2019-entrance-exam.jpg' alt="NIFT-Entrance-Exam"/>
                </div>
             </div>
             <div class="col-md-9">
                <div class="examDetail">
                    <div class="titleDate">
                        <h2><a href="https://design.careers360.com/exams/nift-entrance-exam">How to Prepare for NIFT Entrance Exam</a></h2>
                      <p>How to prepare for NIFT entrance exam to help candidates. Tips and tricks to boost preparation without coaching is available in the e-book. Additionally, it also provides information on best books for NIFT preparation.</p>
                    </div>
                    <div class="buttonBox">
                       
                        <button class="button btn-primary popup" >Download </button>
        
                    </div>
                </div>
                </div>
            </div>
            <div class="useFullLink tags">
                <span>Useful Links</span>
                <div class="tagbox">
                    <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#dates">Dates</a>
                    <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#application">Application</a>
                    <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#syllabus">Syllabus</a>
                    <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#result">Result</a>
                    <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#counselling">Counselling</a>
                </div>
            </div>
        </div>
        <div class="cart">
                <div class="row">
                    <div class="col-md-3">
                    <div class="thumb">
                        <img src='./././assets/images/How-to-prepare-for-NIFT-2019-entrance-exam.jpg' alt="NIFT-Entrance-Exam"/>
                    </div>
                 </div>
                 <div class="col-md-9">
                    <div class="examDetail">
                        <div class="titleDate">
                            <h2><a href="https://design.careers360.com/exams/nift-entrance-exam">How to Prepare for NIFT Entrance Exam</a></h2>
                          <p>How to prepare for NIFT entrance exam to help candidates. Tips and tricks to boost preparation without coaching is available in the e-book. Additionally, it also provides information on best books for NIFT preparation.</p>
                        </div>
                        <div class="buttonBox">
                           
                            <button class="button btn-primary popup"  >Download </button>
            
                        </div>
                    </div>
                    </div>
                </div>
                <div class="useFullLink tags">
                    <span>Useful Links</span>
                    <div class="tagbox">
                        <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#dates">Dates</a>
                        <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#application">Application</a>
                        <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#syllabus">Syllabus</a>
                        <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#result">Result</a>
                        <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#counselling">Counselling</a>
                    </div>
                </div>
            </div>
            <div class="cart">
                    <div class="row">
                        <div class="col-md-3">
                        <div class="thumb">
                            <img src='./././assets/images/How-to-prepare-for-NIFT-2019-entrance-exam.jpg' alt="NIFT-Entrance-Exam"/>
                        </div>
                     </div>
                     <div class="col-md-9">
                        <div class="examDetail">
                            <div class="titleDate">
                                <h2><a href="https://design.careers360.com/exams/nift-entrance-exam">How to Prepare for NIFT Entrance Exam</a></h2>
                              <p>How to prepare for NIFT entrance exam to help candidates. Tips and tricks to boost preparation without coaching is available in the e-book. Additionally, it also provides information on best books for NIFT preparation.</p>
                            </div>
                            <div class="buttonBox">
                               
                                <button class="button btn-primary popup" >Download </button>
                
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="useFullLink tags">
                        <span>Useful Links</span>
                        <div class="tagbox">
                            <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#dates">Dates</a>
                            <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#application">Application</a>
                            <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#syllabus">Syllabus</a>
                            <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#result">Result</a>
                            <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#counselling">Counselling</a>
                        </div>
                    </div>
                </div>
                <div class="cart">
                        <div class="row">
                            <div class="col-md-3">
                            <div class="thumb">
                                <img src='./././assets/images/How-to-prepare-for-NIFT-2019-entrance-exam.jpg' alt="NIFT-Entrance-Exam"/>
                            </div>
                         </div>
                         <div class="col-md-9">
                            <div class="examDetail">
                                <div class="titleDate">
                                    <h2><a href="https://design.careers360.com/exams/nift-entrance-exam">How to Prepare for NIFT Entrance Exam</a></h2>
                                  <p>How to prepare for NIFT entrance exam to help candidates. Tips and tricks to boost preparation without coaching is available in the e-book. Additionally, it also provides information on best books for NIFT preparation.</p>
                                </div>
                                <div class="buttonBox">
                                   
                                    <button class="button btn-primary popup">Download </button>
                    
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="useFullLink tags">
                            <span>Useful Links</span>
                            <div class="tagbox">
                                <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#dates">Dates</a>
                                <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#application">Application</a>
                                <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#syllabus">Syllabus</a>
                                <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#result">Result</a>
                                <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#counselling">Counselling</a>
                            </div>
                        </div>
                    </div>
                    <div class="cart">
                            <div class="row">
                                <div class="col-md-3">
                                <div class="thumb">
                                    <img src='./././assets/images/How-to-prepare-for-NIFT-2019-entrance-exam.jpg' alt="NIFT-Entrance-Exam"/>
                                </div>
                             </div>
                             <div class="col-md-9">
                                <div class="examDetail">
                                    <div class="titleDate">
                                        <h2><a href="https://design.careers360.com/exams/nift-entrance-exam">How to Prepare for NIFT Entrance Exam</a></h2>
                                      <p>How to prepare for NIFT entrance exam to help candidates. Tips and tricks to boost preparation without coaching is available in the e-book. Additionally, it also provides information on best books for NIFT preparation.</p>
                                    </div>
                                    <div class="buttonBox">
                                       
                                        <button class="button btn-primary popup"  >Download </button>
                        
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="useFullLink tags">
                                <span>Useful Links</span>
                                <div class="tagbox">
                                    <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#dates">Dates</a>
                                    <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#application">Application</a>
                                    <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#syllabus">Syllabus</a>
                                    <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#result">Result</a>
                                    <a class="tag" href="https://design.careers360.com/exams/nift-entrance-exam#counselling">Counselling</a>
                                </div>
                            </div>
                        </div>
    
    <div class="text-center">
        <ul class="pagination">
            <li class="disabled"><span>Prev</span></li>
            <li class="active"><span>1</span></li>
            <li><a href="?page=2">2</a></li>
            <li><a href="?page=3">3</a></li>
            <li><a href="?page=2">Next</a></li>
        </ul>
    </div>
    
    <div class="popupbox modal grayModal" id="getUpdate">
        <i class="closebtn careers-cross"></i>
        <div class="headerPopup"><img src="/static/images/frontend/desktop/vector-smart-object-copy.png" alt=""
                data-pagespeed-url-hash="2094787156" onload="pagespeed.CriticalImages.checkImageForCriticality(this);" />
            You have been successfully subscribed for Exam Updates</div>
        <div class="subHead">Students also subscribe for these exams</div>
        <div class="cardOuter">
            <div class="card">
                <div class="cardDetail">
                    <div class="headingFirst"><a href="javascript:;">Joint Entrance Exam Main (JEE Main)</a></div>
                    <div class="headingSecound">Conducting Body: <span>CBSE</span></div>
                </div>

                <button class="button btn-primary popup">Download </button>
            </div>
          
           
        </div>
    </div>
    </div>
    <div class="col-md-3">
            <div class="sidebarPart" id="sticky">
                    <div class="sidebar sidebarBox">
                    <div class="sortFilter">
                    Sort & Filter
                    <a class="clAll clearAll" href="/exams/">Clear All</a>
                    </div>
                    <form class="sortFilterForm" method="post">
                    <div class="filterBox examSort">
                    <h3>Sort By </h3>
                    <div class="box"><input id="dates" name="sort_filter" type="radio" value="dates" checked><label for="dates">Dates</label></div>
                    
                    <div class="box"><input id="popularity" name="sort_filter" type="radio" value="pop"><label for="popularity">Popularity</label></div>
                    <h3>Type </h3>
                    <div class="box"><input id="dates" name="sort_filter" type="radio" value="dates" checked><label for="dates">E-Books and Sample Papers </label></div>
                    
                    <div class="box"><input id="popularity" name="sort_filter" type="radio" value="pop"><label for="popularity">Sample Papers</label></div>
                    <div class="box"><input id="popularity" name="sort_filter" type="radio" value="pop"><label for="popularity">E-Books</label></div>
                    <h3>Branch </h3>
                    <div class="box"><input id="dates" name="sort_filter" type="checkbox" value="dates" ><label for="dates">Animation </label></div>
                    
                   
                    </div>
                    <div class="filterBox examLabel">
                    <h3>Exam Level</h3>
                    <div class="box"><label class="control controlCheckbox"><input name="level" type="checkbox" value="1">UG<div class="controlIndicator"></div></label></div>
                    <div class="box"><label class="control controlCheckbox"><input name="level" type="checkbox" value="2">PG<div class="controlIndicator"></div></label></div>
                    <div class="box"><label class="control controlCheckbox"><input name="level" type="checkbox" value="4">Diploma<div class="controlIndicator"></div></label></div>
                    <div class="box"><label class="control controlCheckbox"><input name="level" type="checkbox" value="5">School<div class="controlIndicator"></div></label></div>
                    </div>
                    
                    </form>
                    </div>
                    </div>
    </div>
    </div>
    </div>